In [8]:
import pandas as pd

In [9]:
%run funcoes_gerais.ipynb

In [10]:
cod_municipios = pd.read_csv('../dataset/Código dos Municípios')

In [11]:
caged = pd.read_excel("../dataset/Economico/Renda e Desenvolvimento/PIB/caged_Atualizado.xlsx")

In [12]:
bolsa_familia = pd.read_csv("../dataset/Social/Projetos Sociais/Bolsa_Familia_2021.csv")
bpc = pd.read_csv("../dataset/Social/Projetos Sociais/bpc_2021.csv")

In [13]:
pib_Munic = pd.read_excel("../dataset/Economico/Renda e Desenvolvimento/PIB/PIB-Munic.xlsx")
pib_Munic_BD = pd.read_excel("../dataset/Economico/Renda e Desenvolvimento/PIB/PIB dos Municбpios - base de dados 2010-2021.xlsx")

In [14]:
PAM_2021 = pd.read_excel("../dataset/Producao Alimentar/Tipos de Alimento/PAM_2021.xlsx")

In [15]:
cempre = pd.read_excel("../dataset/Economico/Renda e Desenvolvimento/Renda Per Capta/Cempre_2021.xlsx")

In [16]:
clin_Amb_BAS = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/Numero de clinicas Basicas/CNES_Ambulatorio_basico.csv", encoding='latin-1', skiprows=3, sep=';')
clin_Amb_ESP = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/Numero de clinicas especializadas/CNES_Ambulatorio_especializado.csv", encoding='latin-1', skiprows=3, sep=';')

In [17]:
leitos_internacao = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/numero de Leitos/CNES_Leitos_Internação_Hospitalar.csv",encoding='latin-1', skiprows=3, sep=';')

In [18]:
leitos_repouso_Ambulatorio_FEM = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/numero de Leitos/CNES_Leitos_repouso_Ambulatorio_FEM.csv",encoding='latin-1', skiprows=3, sep=';')
leitos_repouso_Ambulatorio_INDF = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/numero de Leitos/CNES_Leitos_repouso_Ambulatorio_INDF.csv",encoding='latin-1', skiprows=3, sep=';')
leitos_repouso_Ambulatorio_MASC = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/numero de Leitos/CNES_Leitos_repouso_Ambulatorio_MASC.csv",encoding='latin-1', skiprows=3, sep=';')
leitos_repouso_Ambulatorio_PED = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/numero de Leitos/CNES_Leitos_repouso_Ambulatorio_PED.csv",encoding='latin-1', skiprows=3, sep=';')

In [19]:
leitos_repouso_Urgencia_FEM = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/numero de Leitos/CNES_Leitos_repouso_Urgencia_FEM.csv",encoding='latin-1', skiprows=3, sep=';')
leitos_repouso_Urgencia_INDF = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/numero de Leitos/CNES_Leitos_repouso_Urgencia_INDF.csv",encoding='latin-1', skiprows=3, sep=';')
leitos_repouso_Urgencia_MASC = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/numero de Leitos/CNES_Leitos_repouso_Urgencia_MASC.csv",encoding='latin-1', skiprows=3, sep=';')
leitos_repouso_Urgencia_PED = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/numero de Leitos/CNES_Leitos_repouso_Urgencia_PED.csv",encoding='latin-1', skiprows=3, sep=';')

# Analise

### Caged

In [20]:
caged

,Codigo_Municipio,Codigo_Municipio_2,UF,Municipio,2020_Estoque_media,2020_Estoque_MAX,2020_Estoque_MIN,2023_Estoque_media,2023_Estoque_MAX,2023_Estoque_MIN,...,2022_Estoque_MAX,2022_Estoque_MIN,2021_Estoque_media,2021_Estoque_MAX,2021_Estoque_MIN,2024_Estoque_media,2024_Estoque_MAX,2024_Estoque_MIN,UF.1,Municipio.1
0,1100015,110001,RO,Alta Floresta D Oeste,"1,964.69","2,024.00","1,915.00","2,272.17","2,334.00","2,208.00",...,"2,269.00","2,107.00","2,096.67","2,134.00","2,045.00","2,294.00","2,298.00","2,290.00",RO,Alta Floresta D Oeste
1,1100379,110037,RO,Alto Alegre dos Parecis,560.56,576.00,549.00,675.42,697.00,653.00,...,686.00,575.00,589.25,606.00,571.00,692.00,700.00,684.00,RO,Alto Alegre dos Parecis
2,1100403,110040,RO,Alto Paraiso,"1,193.02","1,233.00","1,165.00","1,277.00","1,310.00","1,216.00",...,"1,288.00","1,240.00","1,240.50","1,275.00","1,193.00","1,247.00","1,255.00","1,239.00",RO,Alto Paraiso
3,1100346,110034,RO,Alvorada D Oeste,807.90,827.00,785.00,872.42,899.00,861.00,...,922.00,882.00,877.92,897.00,848.00,867.00,869.00,865.00,RO,Alvorada D Oeste
4,1100023,110002,RO,Ariquemes,"15,949.64","16,308.00","15,508.00","19,121.75","19,513.00","18,246.00",...,"19,031.00","17,539.00","16,900.17","17,517.00","16,221.00","19,150.00","19,500.00","18,800.00",RO,Ariquemes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,5222005,522200,GO,Vianopolis,"2,125.08","2,171.00","2,091.00","2,833.58","2,981.00","2,674.00",...,"2,743.00","2,551.00","2,346.42","2,504.00","2,198.00","2,972.00","2,980.00","2,964.00",GO,Vianopolis
5566,5222054,522205,GO,Vicentinopolis,"2,367.00","2,549.00","2,052.00","2,529.00","2,794.00","2,163.00",...,"2,671.00","1,991.00","2,318.17","2,563.00","1,963.00","2,311.50","2,361.00","2,262.00",GO,Vicentinopolis
5567,5222203,522220,GO,Vila Boa,"1,750.04","2,052.00","1,524.00","1,785.00","2,169.00","1,312.00",...,"2,347.00","1,429.00","1,787.25","2,152.00","1,369.00","1,410.00","1,422.00","1,398.00",GO,Vila Boa
5568,5222302,522230,GO,Vila Propicio,936.63,956.00,914.00,"1,178.42","1,245.00","1,132.00",...,"1,152.00","1,044.00","1,022.67","1,048.00",968.00,"1,146.00","1,158.00","1,134.00",GO,Vila Propicio
5569,5300108,530010,DF,Brasilia,"827,892.78","847,945.00","814,709.00","954,068.33","973,513.00","929,370.00",...,"938,715.00","887,395.00","858,208.17","887,440.00","833,296.00","973,895.50","977,151.00","970,640.00",DF,Brasilia

In [21]:
caged = caged[['Codigo_Municipio', '2021_Estoque_media', '2021_Estoque_MAX', '2021_Estoque_MIN']]

In [22]:
caged

      Codigo_Municipio  2021_Estoque_media  2021_Estoque_MAX  2021_Estoque_MIN
0              1100015            2,096.67          2,134.00          2,045.00
1              1100379              589.25            606.00            571.00
2              1100403            1,240.50          1,275.00          1,193.00
3              1100346              877.92            897.00            848.00
4              1100023           16,900.17         17,517.00         16,221.00
...                ...                 ...               ...               ...
5565           5222005            2,346.42          2,504.00          2,198.00
5566           5222054            2,318.17          2,563.00          1,963.00
5567           5222203            1,787.25          2,152.00          1,369.00
5568           5222302            1,022.67          1,048.00            968.00
5569           5300108          858,208.17        887,440.00        833,296.00

[5570 rows x 4 columns]

### PIB Munic BD

In [23]:
pib_Munic_BD_2021 = pib_Munic_BD[pib_Munic_BD['Ano'] == 2021][['Código do Município', 'Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)','Atividade com maior valor adicionado bruto']]

In [24]:
pib_Munic_BD_2021

,Código do Município,"Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)",Atividade com maior valor adicionado bruto
61255,1100015,"32,619.88","Administração, defesa, educação e saúde públic..."
61256,1100023,"28,878.27",Demais serviços
61257,1100031,"47,051.83","Agricultura, inclusive apoio à agricultura e a..."
61258,1100049,"32,313.26",Demais serviços
61259,1100056,"46,185.81",Comércio e reparação de veículos automotores e...
...,...,...,...
66820,5222005,"60,900.61","Agricultura, inclusive apoio à agricultura e a..."
66821,5222054,"53,340.72","Agricultura, inclusive apoio à agricultura e a..."
66822,5222203,"27,886.97","Agricultura, inclusive apoio à agricultura e a..."
66823,5222302,"51,845.31","Agricultura, inclusive apoio à agricultura e a..."
66824,5300108,"92,732.27","Administração, defesa, educação e saúde públic..."

### Bolsa Familia

In [25]:
bolsa_familia

,ibge,anomes,qtd_familias_beneficiarias_bolsa_familia,valor_repassado_bolsa_familia
0,110001,202101,"1,515.00","243,899.00"
1,110002,202101,"3,928.00","594,415.00"
2,110003,202101,190.00,"31,455.00"
3,110004,202101,"3,115.00","522,167.00"
4,110005,202101,710.00,"106,890.00"
...,...,...,...,...
66835,522200,202112,NaN,NaN
66836,522205,202112,NaN,NaN
66837,522220,202112,NaN,NaN
66838,522230,202112,NaN,NaN
66839,530010,202112,NaN,NaN

In [26]:
bolsa_familia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66840 entries, 0 to 66839
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   ibge                                      66840 non-null  int64
 1   anomes                                    66840 non-null  int64
 2   qtd_familias_beneficiarias_bolsa_familia  55700 non-null  float64
 3   valor_repassado_bolsa_familia             55700 non-null  float64
dtypes: float64(2), int64(2)
memory usage: 2.0 MB

In [27]:
bolsa_familia['anomes'].value_counts()

anomes
202101    5570
202102    5570
202103    5570
202104    5570
202105    5570
202106    5570
202107    5570
202108    5570
202109    5570
202110    5570
202111    5570
202112    5570
Name: count, dtype: int64

### BPC

In [28]:
bpc

,ibge,anomes,bpc_ben,bpc_pcd_ben,bpc_idoso_ben,bpc_pcd_val,bpc_idoso_val,bpc_val
0,110001,202101,504,402.00,102.00,"442,200.00","112,200.00","554,400.00"
1,110002,202101,2828,"1,762.00","1,066.00","1,941,756.66","1,173,700.00","3,115,456.66"
2,110003,202101,81,68.00,13.00,"74,800.00","14,300.00","89,100.00"
3,110004,202101,2026,"1,332.00",694.00,"1,466,300.00","765,600.00","2,231,900.00"
4,110005,202101,437,349.00,88.00,"383,900.00","96,800.00","480,700.00"
...,...,...,...,...,...,...,...,...
66835,522200,202112,298,175.00,123.00,"192,500.00","135,300.00","327,800.00"
66836,522205,202112,145,100.00,45.00,"110,000.00","49,500.00","159,500.00"
66837,522220,202112,136,100.00,36.00,"110,000.00","39,600.00","149,600.00"
66838,522230,202112,31,27.00,4.00,"29,700.00","4,400.00","34,100.00"
66839,530010,202112,54460,"27,503.00","26,957.00","30,289,883.28","29,671,577.49","59,961,460.77"

In [29]:
bpc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66840 entries, 0 to 66839
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ibge           66840 non-null  int64
 1   anomes         66840 non-null  int64
 2   bpc_ben        66840 non-null  int64
 3   bpc_pcd_ben    66822 non-null  float64
 4   bpc_idoso_ben  66822 non-null  float64
 5   bpc_pcd_val    66813 non-null  float64
 6   bpc_idoso_val  66618 non-null  float64
 7   bpc_val        66840 non-null  float64
dtypes: float64(5), int64(3)
memory usage: 4.1 MB

In [30]:
bpc['anomes'].value_counts()

anomes
202101    5570
202102    5570
202103    5570
202104    5570
202105    5570
202106    5570
202107    5570
202108    5570
202109    5570
202110    5570
202111    5570
202112    5570
Name: count, dtype: int64

### CEMPRE

In [31]:
cempre

,Unidades da Federação,Municípios,Número de unidades\nlocais,Pessoal ocupado Total,Pessoal ocupado Assalariado,Pessoal assalariado médio,Salários\ne outras\nremunerações\n(1 000 R$),Salário médio\n mensal \n(salários mínimos) (1) (2),Salário médio\n mensal \n(R$) (2),Número de empresas atuantes
0,Rondônia,Alta Floresta D'Oeste - RO,521,2913,2356,"2,603.01","68,628.62",1.84,"2,028.08",514
1,Rondônia,Ariquemes - RO,2879,20851,17176,"16,650.72","488,764.27",2.05,"2,258.00",2778
2,Rondônia,Cabixi - RO,57,548,492,499.73,"14,171.54",1.98,"2,181.42",56
3,Rondônia,Cacoal - RO,2817,20913,17117,"16,999.28","473,250.72",1.95,"2,141.50",2713
4,Rondônia,Cerejeiras - RO,513,2881,2248,"2,221.63","65,509.95",2.06,"2,268.26",499
...,...,...,...,...,...,...,...,...,...,...
5565,Goiás,Vianópolis - GO,466,2846,2333,"2,156.03","66,581.55",2.16,"2,375.50",462
5566,Goiás,Vicentinópolis - GO,208,1989,1748,"2,173.06","64,097.41",2.06,"2,268.95",208
5567,Goiás,Vila Boa - GO,60,848,800,"1,127.87","34,213.96",2.12,"2,333.46",60
5568,Goiás,Vila Propício - GO,107,1256,1132,"1,024.62","27,187.85",1.86,"2,041.12",101
5569,Distrito Federal,Brasília - DF,111980,1399758,1268259,"1,266,004.23","92,894,836.20",5.13,"5,644.34",105511

In [32]:
cempre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 10 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Unidades da Federação                                5570 non-null   object
 1   Municípios                                           5570 non-null   object
 2   Número de unidades
locais                            5570 non-null   int64
 3   Pessoal ocupado Total                                5570 non-null   int64
 4   Pessoal ocupado Assalariado                          5570 non-null   int64
 5   Pessoal assalariado médio                            5570 non-null   float64
 6   Salários
e outras
remunerações
(1 000 R$)            5570 non-null   float64
 7   Salário médio
 mensal
(salários mínimos)  (1) (2)   5570 non-null   float64
 8   Salário médio
 mensal
(R$) (2)                      5570 non-null   float64
 9   Número de empresas atuantes                          5570 non-null   int64
dtypes: float64(4), int64(4), object(2)
memory usage: 435.3+ KB

In [33]:
cempre.describe()

,Número de unidades\nlocais,Pessoal ocupado Total,Pessoal ocupado Assalariado,Pessoal assalariado médio,Salários\ne outras\nremunerações\n(1 000 R$),Salário médio\n mensal \n(salários mínimos) (1) (2),Salário médio\n mensal \n(R$) (2),Número de empresas atuantes
count,"5,570.00","5,570.00","5,570.00","5,570.00","5,570.00","5,570.00","5,570.00","5,570.00"
mean,"1,134.97","9,927.47","8,548.74","8,433.86","358,143.27",2.01,"2,213.73","1,085.83"
std,"10,694.78","96,363.54","83,121.43","81,801.46","4,885,769.61",0.45,493.06,"10,135.16"
min,6.00,75.00,57.00,40.28,884.58,0.96,"1,052.27",6.00
25%,81.00,626.00,526.00,520.49,"13,664.88",1.71,"1,882.56",79.00
50%,185.50,"1,362.00","1,148.00","1,145.61","31,134.57",1.94,"2,133.77",182.00
75%,520.00,"3,841.75","3,208.25","3,233.87","92,407.03",2.21,"2,434.14",505.75
max,"681,246.00","5,852,375.00","5,013,099.00","4,922,072.97","305,596,726.22",5.88,"6,463.69","646,248.00"

# Transformação

### CNES

#### Amb_BAS

In [34]:
clin_Amb_BAS = CNES(clin_Amb_BAS, '2021')

/tmp/ipykernel_33073/3025589086.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_33073/3025589086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)

In [35]:
clin_Amb_BAS.rename(columns={'sum':'Numero Clinicas de Ambulatorio Basicas'}, inplace=True)

#### AMB_ESP

In [36]:
clin_Amb_ESP = CNES(clin_Amb_ESP,'2021')

/tmp/ipykernel_33073/3025589086.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_33073/3025589086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)

In [37]:
clin_Amb_ESP.rename(columns={'sum':'Numero Clinicas de Ambulatorio Especializadas'}, inplace=True)

#### Internação

In [38]:
leitos_internacao = CNES(leitos_internacao,'2021')

/tmp/ipykernel_33073/3025589086.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_33073/3025589086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)

In [39]:
leitos_internacao.rename(columns={'sum':'Numero Leitos de Internação'}, inplace=True)

#### Leito Amb

In [40]:
leitos_repouso_Ambulatorio_FEM = CNES(leitos_repouso_Ambulatorio_FEM,'2021')
leitos_repouso_Ambulatorio_INDF = CNES(leitos_repouso_Ambulatorio_INDF,'2021')
leitos_repouso_Ambulatorio_MASC = CNES(leitos_repouso_Ambulatorio_MASC,'2021')
leitos_repouso_Ambulatorio_PED = CNES(leitos_repouso_Ambulatorio_PED,'2021')

/tmp/ipykernel_33073/3025589086.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_33073/3025589086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)
/tmp/ipykernel_33073/3025589086.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_33073/3025589086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)
/tmp/ipykernel_33073/3025589086.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_33073/3025589086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)
/tmp/ipykernel_33073/3025589086.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_33073/3025589086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)

In [41]:
leitos_repouso_Ambulatorio_FEM.rename(columns={'sum':'Numero Leitos de Ambulatorio Feminino'}, inplace=True)
leitos_repouso_Ambulatorio_INDF.rename(columns={'sum':'Numero Leitos de Ambulatorio Indiferente'}, inplace=True)
leitos_repouso_Ambulatorio_MASC.rename(columns={'sum':'Numero Leitos de Ambulatorio Masculino'}, inplace=True)
leitos_repouso_Ambulatorio_PED.rename(columns={'sum':'Numero Leitos de Ambulatorio Pediatro'}, inplace=True)

#### Leito Urg

In [42]:
leitos_repouso_Urgencia_FEM = CNES(leitos_repouso_Urgencia_FEM,'2021')
leitos_repouso_Urgencia_INDF = CNES(leitos_repouso_Urgencia_INDF,'2021')
leitos_repouso_Urgencia_MASC = CNES(leitos_repouso_Urgencia_MASC,'2021')
leitos_repouso_Urgencia_PED = CNES(leitos_repouso_Urgencia_PED,'2021')

/tmp/ipykernel_33073/3025589086.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_33073/3025589086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)
/tmp/ipykernel_33073/3025589086.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_33073/3025589086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)
/tmp/ipykernel_33073/3025589086.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_33073/3025589086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)
/tmp/ipykernel_33073/3025589086.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_33073/3025589086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)

In [43]:
leitos_repouso_Urgencia_FEM.rename(columns={'sum':'Numero Leitos de Urgencia Feminino'}, inplace=True)
leitos_repouso_Urgencia_INDF.rename(columns={'sum':'Numero Leitos de Urgencia Indiferente'}, inplace=True)
leitos_repouso_Urgencia_MASC.rename(columns={'sum':'Numero Leitos de Urgencia Masculino'}, inplace=True)
leitos_repouso_Urgencia_PED.rename(columns={'sum':'Numero Leitos de Urgencia Pediatro'}, inplace=True)

### Caged

In [44]:
caged = caged.round(2)

In [45]:
caged

      Codigo_Municipio  2021_Estoque_media  2021_Estoque_MAX  2021_Estoque_MIN
0              1100015            2,096.67          2,134.00          2,045.00
1              1100379              589.25            606.00            571.00
2              1100403            1,240.50          1,275.00          1,193.00
3              1100346              877.92            897.00            848.00
4              1100023           16,900.17         17,517.00         16,221.00
...                ...                 ...               ...               ...
5565           5222005            2,346.42          2,504.00          2,198.00
5566           5222054            2,318.17          2,563.00          1,963.00
5567           5222203            1,787.25          2,152.00          1,369.00
5568           5222302            1,022.67          1,048.00            968.00
5569           5300108          858,208.17        887,440.00        833,296.00

[5570 rows x 4 columns]

### PAM

In [46]:
PAM_2021 = PAM(PAM_2021)

### PIB Munic

In [47]:
# for col in pib_Munic.columns[2:]:
#     pib_Munic[col] = pib_Munic[col].apply(lambda x: f"{x:,.1f}".replace(",", "X").replace(".", ",").replace("X", "."))
pib_Munic = pib_Munic.round(2)

In [48]:
pib_Munic = pib_Munic.rename(columns={'Cód.':'Codigo_Municipio','2021':'PIB do Municipio'})

In [49]:
pib_Munic.head()

,Codigo_Municipio,Município,2017,2018,2019,2020,PIB do Municipio
0,1100015,Alta Floresta D'Oeste (RO),485374,498980,495775,570242,734469
1,1100023,Ariquemes (RO),2287910,2464704,2579278,2817331,3209761
2,1100031,Cabixi (RO),138110,140503,139976,167153,238412
3,1100049,Cacoal (RO),2082761,2175840,2261930,2518845,2792383
4,1100056,Cerejeiras (RO),439245,470647,506494,600630,743037

### PIB MUnic BD

In [50]:
pib_Munic_BD_2021 = pib_Munic_BD_2021.rename(columns={'Código do Município': 'Codigo_Municipio', 
                        'Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)': 'Produto Interno Bruto per capita, a preços correntes(R$ 1,00)'})
pib_Munic_BD_2021 = pib_Munic_BD_2021.round(2)
# pib_Munic_BD_2021['Produto Interno Bruto per capita, a preços correntes(R$ 1,00)'] = pib_Munic_BD_2021['Produto Interno Bruto per capita, a preços correntes(R$ 1,00)'].apply(lambda x: f"{x:,.1f}".replace(",", "X").replace(".", ",").replace("X", "."))

In [51]:
pib_Munic_BD_2021

,Codigo_Municipio,"Produto Interno Bruto per capita, a preços correntes(R$ 1,00)",Atividade com maior valor adicionado bruto
61255,1100015,"32,619.88","Administração, defesa, educação e saúde públic..."
61256,1100023,"28,878.27",Demais serviços
61257,1100031,"47,051.83","Agricultura, inclusive apoio à agricultura e a..."
61258,1100049,"32,313.26",Demais serviços
61259,1100056,"46,185.81",Comércio e reparação de veículos automotores e...
...,...,...,...
66820,5222005,"60,900.61","Agricultura, inclusive apoio à agricultura e a..."
66821,5222054,"53,340.72","Agricultura, inclusive apoio à agricultura e a..."
66822,5222203,"27,886.97","Agricultura, inclusive apoio à agricultura e a..."
66823,5222302,"51,845.31","Agricultura, inclusive apoio à agricultura e a..."
66824,5300108,"92,732.27","Administração, defesa, educação e saúde públic..."

### CEMPRE

In [52]:
cempre = CEMPRE(cempre)

In [53]:
cempre

,Codigo_Municipio,Número de unidades locais,Pessoal ocupado Total,Pessoal ocupado Assalariado,Pessoal assalariado médio,Salário médio mensal (salários mínimos) (1) (2),Salário médio mensal(R$),Número de empresas atuantes
0,1100015,521.00,"2,913.00","2,356.00","2,603.01",1.84,"2,028.08",514.00
1,1100379,170.00,"1,158.00",955.00,940.96,2.07,"2,275.74",170.00
2,1100403,266.00,"1,601.00","1,302.00","1,265.78",2.05,"2,254.10",265.00
3,1100346,268.00,"1,620.00","1,308.00","1,279.66",1.65,"1,814.56",262.00
4,1100023,"2,879.00","20,851.00","17,176.00","16,650.72",2.05,"2,258.00","2,778.00"
...,...,...,...,...,...,...,...,...
5565,5222005,466.00,"2,846.00","2,333.00","2,156.03",2.16,"2,375.50",462.00
5566,5222054,208.00,"1,989.00","1,748.00","2,173.06",2.06,"2,268.95",208.00
5567,5222203,60.00,848.00,800.00,"1,127.87",2.12,"2,333.46",60.00
5568,5222302,107.00,"1,256.00","1,132.00","1,024.62",1.86,"2,041.12",101.00
5569,5300108,"111,980.00","1,399,758.00","1,268,259.00","1,266,004.23",5.13,"5,644.34","105,511.00"

In [54]:
cempre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 8 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Codigo_Municipio                                     5570 non-null   int64
 1   Número de unidades locais                            5536 non-null   float64
 2   Pessoal ocupado Total                                5536 non-null   float64
 3   Pessoal ocupado Assalariado                          5536 non-null   float64
 4   Pessoal assalariado médio                            5536 non-null   float64
 5   Salário médio  mensal  (salários mínimos)  (1) (2)   5536 non-null   float64
 6   Salário médio mensal(R$)                             5536 non-null   float64
 7   Número de empresas atuantes                          5536 non-null   float64
dtypes: float64(7), int64(1)
memory usage: 348.3 KB

### Bolsa Familia

In [55]:
bolsa_familia = Bolsa_Familia(bolsa_familia)

In [56]:
bolsa_familia

,ibge,qtd_familias_total_bolsa_familia,media_qtd_familias_bolsa_familia,valor_total_repassado_bolsa_familia,media_valor_repassado_bolsa_familia
0,110001,"15,375.00","1,537.50","1,152,208.00","115,220.80"
1,110002,"45,176.00","4,517.60","3,553,759.00","355,375.90"
2,110003,"2,164.00",216.40,"171,043.00","17,104.30"
3,110004,"35,790.00","3,579.00","3,645,274.00","364,527.40"
4,110005,"7,428.00",742.80,"491,264.00","49,126.40"
...,...,...,...,...,...
5565,522200,"3,639.00",363.90,"319,806.00","31,980.60"
5566,522205,"7,501.00",750.10,"628,487.00","62,848.70"
5567,522220,"5,418.00",541.80,"448,975.00","44,897.50"
5568,522230,"5,276.00",527.60,"390,500.00","39,050.00"
5569,530010,"894,073.00","89,407.30","95,708,645.00","9,570,864.50"

In [57]:
bolsa_familia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 5 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ibge                                 5570 non-null   int64
 1   qtd_familias_total_bolsa_familia     5570 non-null   float64
 2   media_qtd_familias_bolsa_familia     5570 non-null   float64
 3   valor_total_repassado_bolsa_familia  5570 non-null   float64
 4   media_valor_repassado_bolsa_familia  5570 non-null   float64
dtypes: float64(4), int64(1)
memory usage: 217.7 KB

### BPC

In [58]:
bpc = BPC(bpc)

In [59]:
bpc

,ibge,num_beneficiados_bpc,media_beneficiados_bpc,num_pcd_beneficiados_bpc,media_pcd_beneficiados_bpc,num_idoso_beneficiados_bpc,media_idoso_beneficiados_bpc,valor_total_repassado_bpc,media_valor_repassado_bpc,valor_pcd_repassado_bpc,media_valor_pcd_repassado_bpc,valor_idoso_repassado_bpc,media_valor_idoso_repassado_pbc
0,110001,6046,503.83,"4,888.00",407.33,"1,158.00",96.50,"6,660,595.29","555,049.61","5,381,278.60","448,439.88","1,279,316.69","106,609.72"
1,110002,33961,"2,830.08","21,427.00","1,785.58","12,534.00","1,044.50","37,397,455.14","3,116,454.60","23,592,243.59","1,966,020.30","13,805,211.55","1,150,434.30"
2,110003,962,80.17,794.00,66.17,168.00,14.00,"1,058,222.16","88,185.18","873,418.25","72,784.85","184,803.91","15,400.33"
3,110004,24194,"2,016.17","16,078.00","1,339.83","8,116.00",676.33,"26,644,589.75","2,220,382.48","17,701,442.00","1,475,120.17","8,943,147.75","745,262.31"
4,110005,5146,428.83,"4,104.00",342.00,"1,042.00",86.83,"5,663,961.60","471,996.80","4,516,653.22","376,387.77","1,147,308.38","95,609.03"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,522200,3618,301.50,"2,159.00",179.92,"1,459.00",121.58,"3,982,034.56","331,836.21","2,376,021.17","198,001.76","1,606,013.39","133,834.45"
5566,522205,1733,144.42,"1,165.00",97.08,568.00,47.33,"1,908,531.77","159,044.31","1,281,520.72","106,793.39","627,011.05","52,250.92"
5567,522220,1693,141.08,"1,250.00",104.17,443.00,36.92,"1,863,408.40","155,284.03","1,376,107.10","114,675.59","487,301.30","40,608.44"
5568,522230,353,29.42,285.00,23.75,68.00,5.67,"389,404.70","32,450.39","313,503.57","26,125.30","75,901.13","6,325.09"
5569,530010,650684,"54,223.67","328,790.00","27,399.17","321,894.00","26,824.50","716,494,211.94","59,707,851.00","362,046,651.08","30,170,554.26","354,447,560.86","29,537,296.74"

# Integração

In [60]:
bd_2021 = cod_municipios[['Codigo_Municipio', 'Codigo_Municipio_2', 'Município', 'UF', 'Sigla_UF']]

In [61]:
bd_2021 = bd_2021.merge(caged, how='left')

In [62]:
bd_2021 = bd_2021.merge(pib_Munic[['Codigo_Municipio', 'PIB do Municipio']], how='left')

In [63]:
bd_2021 = bd_2021.merge(pib_Munic_BD_2021, how='left')

In [ ]:
bd_2021 = bd_2021.merge(cempre, how='right')

In [65]:
bd_2021 = bd_2021.merge(bolsa_familia, how='left', left_on='Codigo_Municipio_2', right_on='ibge')

In [66]:
bd_2021 = bd_2021.drop('ibge', axis=1)

In [67]:
bd_2021 = bd_2021.merge(bpc, how='left', left_on='Codigo_Municipio_2', right_on='ibge')

In [68]:
bd_2021 = bd_2021.drop('ibge', axis=1)

In [69]:
bd_2021 = bd_2021.merge(clin_Amb_BAS, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')
bd_2021 = bd_2021.merge(clin_Amb_ESP, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')

In [70]:
bd_2021 = bd_2021.merge(leitos_internacao, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')

In [71]:
bd_2021.drop(columns=['cod_municipio', 'cod_municipio_x', 'cod_municipio_y'], inplace=True)

In [72]:
bd_2021 = bd_2021.merge(leitos_repouso_Ambulatorio_FEM, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')
bd_2021 = bd_2021.merge(leitos_repouso_Ambulatorio_MASC, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')
bd_2021 = bd_2021.merge(leitos_repouso_Ambulatorio_INDF, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')
bd_2021.drop(columns=['cod_municipio', 'cod_municipio_x', 'cod_municipio_y'], inplace=True)
bd_2021 = bd_2021.merge(leitos_repouso_Ambulatorio_PED, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')

In [73]:
bd_2021 = bd_2021.merge(leitos_repouso_Urgencia_FEM, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')
bd_2021 = bd_2021.merge(leitos_repouso_Urgencia_MASC, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')
bd_2021.drop(columns=['cod_municipio', 'cod_municipio_x', 'cod_municipio_y'], inplace=True)
bd_2021 = bd_2021.merge(leitos_repouso_Urgencia_INDF, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')
bd_2021 = bd_2021.merge(leitos_repouso_Urgencia_PED, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')
bd_2021.drop(columns=['cod_municipio_x', 'cod_municipio_y'], inplace=True)

In [74]:
bd_2021 = bd_2021.merge(PAM_2021, how='left')

In [75]:
bd_2021.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 116 columns):
 #    Column                                                         Non-Null Count  Dtype
---   ------                                                         --------------  -----
 0    Codigo_Municipio                                               5570 non-null   int64
 1    Codigo_Municipio_2                                             5570 non-null   int64
 2    Município                                                      5570 non-null   object
 3    UF                                                             5570 non-null   int64
 4    Sigla_UF                                                       5570 non-null   object
 5    2021_Estoque_media                                             5458 non-null   float64
 6    2021_Estoque_MAX                                               5458 non-null   float64
 7    2021_Estoque_MIN                                               5458 non-null   float64
 8    PIB do Municipio                                               5570 non-null   int64
 9    Produto Interno Bruto per capita, a preços correntes(R$ 1,00)  5570 non-null   float64
 10   Atividade com maior valor adicionado bruto                     5570 non-null   object
 11   Número de unidades locais                                      5536 non-null   float64
 12   Pessoal ocupado Total                                          5536 non-null   float64
 13   Pessoal ocupado Assalariado                                    5536 non-null   float64
 14   Pessoal assalariado médio                                      5536 non-null   float64
 15   Salário médio  mensal  (salários mínimos)  (1) (2)             5536 non-null   float64
 16   Salário médio mensal(R$)                                       5536 non-null   float64
 17   Número de empresas atuantes                                    5536 non-null   float64
 18   qtd_familias_total_bolsa_familia                               5464 non-null   float64
 19   media_qtd_familias_bolsa_familia                               5464 non-null   float64
 20   valor_total_repassado_bolsa_familia                            5464 non-null   float64
 21   media_valor_repassado_bolsa_familia                            5464 non-null   float64
 22   num_beneficiados_bpc                                           5464 non-null   float64
 23   media_beneficiados_bpc                                         5464 non-null   float64
 24   num_pcd_beneficiados_bpc                                       5464 non-null   float64
 25   media_pcd_beneficiados_bpc                                     5463 non-null   float64
 26   num_idoso_beneficiados_bpc                                     5464 non-null   float64
 27   media_idoso_beneficiados_bpc                                   5463 non-null   float64
 28   valor_total_repassado_bpc                                      5464 non-null   float64
 29   media_valor_repassado_bpc                                      5464 non-null   float64
 30   valor_pcd_repassado_bpc                                        5464 non-null   float64
 31   media_valor_pcd_repassado_bpc                                  5463 non-null   float64
 32   valor_idoso_repassado_bpc                                      5464 non-null   float64
 33   media_valor_idoso_repassado_pbc                                5463 non-null   float64
 34   Numero Clinicas de Ambulatorio Basicas                         5337 non-null   float64
 35   Numero Clinicas de Ambulatorio Especializadas                  5337 non-null   float64
 36   Numero Leitos de Internação                                    3721 non-null   float64
 37   Numero Leitos de Ambulatorio Feminino                          1676 non-null   float64
 38   Numero Leitos de Ambulatorio Masculino                         1659 non-null   float64
 39   Numero Leitos de Ambulatorio Indiferente                       3794 non-null   float64
 40   Numero Leitos de Ambulatorio Pediatro                          1659 non-null   float64
 41   Numero Leitos de Urgencia Feminino                             2527 non-null   float64
 42   Numero Leitos de Urgencia Masculino                            2473 non-null   float64
 43   Numero Leitos de Urgencia Indiferente                          2626 non-null   float64
 44   Numero Leitos de Urgencia Pediatro                             2274 non-null   float64
 45   Produção de Abacate(toneladas)                                 5563 non-null   object
 46   Produção de Abacaxi*(toneladas)                                5563 non-null   object
 47   Produção de Açaí(toneladas)                                    5563 non-null   object
 48   Produção de Alfafa fenada(toneladas)                           5563 non-null   object
 49   Produção de Algodão arbóreo (em caroço)(toneladas)             5563 non-null   object
 50   Produção de Algodão herbáceo (em caroço)(toneladas)            5563 non-null   object
 51   Produção de Alho(toneladas)                                    5563 non-null   object
 52   Produção de Amendoim (em casca)(toneladas)                     5563 non-null   object
 53   Produção de Arroz (em casca)(toneladas)                        5563 non-null   object
 54   Produção de Aveia (em grão)(toneladas)                         5563 non-null   object
 55   Produção de Azeitona(toneladas)                                5563 non-null   object
 56   Produção de Banana (cacho)(toneladas)                          5563 non-null   object
 57   Produção de Batata-doce(toneladas)                             5563 non-null   object
 58   Produção de Batata-inglesa(toneladas)                          5563 non-null   object
 59   Produção de Borracha (látex coagulado)(toneladas)              5563 non-null   object
 60   Produção de Borracha (látex líquido)(toneladas)                5563 non-null   object
 61   Produção de Cacau (em amêndoa)(toneladas)                      5563 non-null   object
 62   Produção de Café (em grão) Total(toneladas)                    5563 non-null   object
 63   Produção de Café (em grão) Arábica(toneladas)                  5563 non-null   object
 64   Produção de Café (em grão) Canephora(toneladas)                5563 non-null   object
 65   Produção de Caju(toneladas)                                    5563 non-null   object
 66   Produção de Cana-de-açúcar(toneladas)                          5563 non-null   object
 67   Produção de Cana para forragem(toneladas)                      5563 non-null   object
 68   Produção de Caqui(toneladas)                                   5563 non-null   object
 69   Produção de Castanha de caju(toneladas)                        5563 non-null   object
 70   Produção de Cebola(toneladas)                                  5563 non-null   object
 71   Produção de Centeio (em grão)(toneladas)                       5563 non-null   object
 72   Produção de Cevada (em grão)(toneladas)                        5563 non-null   object
 73   Produção de Chá-da-índia (folha verde)(toneladas)              5563 non-null   object
 74   Produção de Coco-da-baía*(toneladas)                           5563 non-null   object
 75   Produção de Dendê (cacho de coco)(toneladas)                   5563 non-null   object
 76   Produção de Erva-mate (folha verde)(toneladas)                 5563 non-null   object
 77   Produção de Ervilha (em grão)(toneladas)                       5563 non-null   object
 78   Produção de Fava (em grão)(toneladas)                          5563 non-null   object
 79   Produção de Feijão (em grão)(toneladas)                        5563 non-null   object
 80   Produção de Figo(toneladas)                                    5563 non-null   object
 81   Produção de Fumo (em folha)(toneladas)                         5563 non-null   object
 82   Produção de Girassol (em grão)(toneladas)                      5563 non-null   object
 83   Produção de Goiaba(toneladas)                                  5563 non-null   object
 84   Produção de Guaraná (semente)(toneladas)                       5563 non-null   object
 85   Produção de Juta (fibra)(toneladas)                            5563 non-null   object
 86   Produção de Laranja(toneladas)                                 5563 non-null   object
 87   Produção de Limão(toneladas)                                   5563 non-null   object
 88   Produção de Linho (semente)(toneladas)                         5563 non-null   object
 89   Produção de Maçã(toneladas)                                    5563 non-null   object
 90   Produção de Malva (fibra)(toneladas)                           5563 non-null   object
 91   Produção de Mamão(toneladas)                                   5563 non-null   object
 92   Produção de Mamona (baga)(toneladas)                           5563 non-null   object
 93   Produção de Mandioca(toneladas)                                5563 non-null   object
 94   Produção de Manga(toneladas)                                   5563 non-null   object
 95   Produção de Maracujá(toneladas)                                5563 non-null   object
 96   Produção de Marmelo(toneladas)                                 5563 non-null   object
 97   Produção de Melancia(toneladas)                                5563 non-null   object
 98   Produção de Melão(toneladas)                                   5563 non-null   object
 99   Produção de Milho (em grão)(toneladas)                         5563 non-null   object
 100  Produção de Noz (fruto seco)(toneladas)                        5563 non-null   object
 101  Produção de Palmito(toneladas)                                 5563 non-null   object
 102  Produção de Pera(toneladas)                                    5563 non-null   object
 103  Produção de Pêssego(toneladas)                                 5563 non-null   object
 104  Produção de Pimenta-do-reino(toneladas)                        5563 non-null   object
 105  Produção de Rami (fibra)(toneladas)                            5563 non-null   object
 106  Produção de Sisal ou agave (fibra)(toneladas)                  5563 non-null   object
 107  Produção de Soja (em grão)(toneladas)                          5563 non-null   object
 108  Produção de Sorgo (em grão)(toneladas)                         5563 non-null   object
 109  Produção de Tangerina(toneladas)                               5563 non-null   object
 110  Produção de Tomate(toneladas)                                  5563 non-null   object
 111  Produção de Trigo (em grão)(toneladas)                         5563 non-null   object
 112  Produção de Triticale (em grão)(toneladas)                     5563 non-null   object
 113  Produção de Tungue (fruto seco)(toneladas)                     5563 non-null   object
 114  Produção de Urucum (semente)(toneladas)                        5563 non-null   object
 115  Produção de Uva(toneladas)                                     5563 non-null   object
dtypes: float64(38), int64(4), object(74)
memory usage: 4.9+ MB

In [76]:
bd_2021

,Codigo_Municipio,Codigo_Municipio_2,Município,UF,Sigla_UF,2021_Estoque_media,2021_Estoque_MAX,2021_Estoque_MIN,PIB do Municipio,"Produto Interno Bruto per capita, a preços correntes(R$ 1,00)",...,Produção de Sisal ou agave (fibra)(toneladas),Produção de Soja (em grão)(toneladas),Produção de Sorgo (em grão)(toneladas),Produção de Tangerina(toneladas),Produção de Tomate(toneladas),Produção de Trigo (em grão)(toneladas),Produção de Triticale (em grão)(toneladas),Produção de Tungue (fruto seco)(toneladas),Produção de Urucum (semente)(toneladas),Produção de Uva(toneladas)
0,1100015,110001,Alta Floresta D'Oeste,11,RO,"2,096.67","2,134.00","2,045.00",734469,"32,619.88",...,-,2500,-,4,412,-,-,-,36,-
1,1100379,110037,Alto Alegre dos Parecis,11,RO,589.25,606.00,571.00,483672,"36,454.01",...,-,1800,-,2,62,-,-,-,2,-
2,1100403,110040,Alto Paraíso,11,RO,"1,240.50","1,275.00","1,193.00",510361,"22,929.34",...,-,71940,-,-,60,-,-,-,5,-
3,1100346,110034,Alvorada D'Oeste,11,RO,877.92,897.00,848.00,352628,"25,539.82",...,-,1980,-,-,210,-,-,-,5,-
4,1100023,110002,Ariquemes,11,RO,"16,900.17","17,517.00","16,221.00",3209761,"28,878.27",...,-,22731,-,-,31,-,-,-,10,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,5222005,522200,Vianópolis,52,GO,"2,346.42","2,504.00","2,198.00",857968,"60,900.61",...,-,160000,15000,-,70000,550,-,-,-,-
5566,5222054,522205,Vicentinópolis,52,GO,"2,318.17","2,563.00","1,963.00",480173,"53,340.72",...,-,88200,16240,-,16100,-,-,-,-,-
5567,5222203,522220,Vila Boa,52,GO,"1,787.25","2,152.00","1,369.00",179899,"27,886.97",...,-,5300,710,-,-,-,-,-,-,-
5568,5222302,522230,Vila Propício,52,GO,"1,022.67","1,048.00",968.00,308013,"51,845.31",...,-,66555,-,-,1900,-,-,-,-,-
5569,5300108,530010,Brasília,53,DF,"858,208.17","887,440.00","833,296.00",286943782,"92,732.27",...,-,312000,35100,2312,28000,10500,-,-,-,1425

In [77]:
bd_2021.describe()

,Codigo_Municipio,Codigo_Municipio_2,UF,2021_Estoque_media,2021_Estoque_MAX,2021_Estoque_MIN,PIB do Municipio,"Produto Interno Bruto per capita, a preços correntes(R$ 1,00)",Número de unidades locais,Pessoal ocupado Total,...,Numero Clinicas de Ambulatorio Especializadas,Numero Leitos de Internação,Numero Leitos de Ambulatorio Feminino,Numero Leitos de Ambulatorio Masculino,Numero Leitos de Ambulatorio Indiferente,Numero Leitos de Ambulatorio Pediatro,Numero Leitos de Urgencia Feminino,Numero Leitos de Urgencia Masculino,Numero Leitos de Urgencia Indiferente,Numero Leitos de Urgencia Pediatro
count,"5,570.00","5,570.00","5,570.00","5,458.00","5,458.00","5,458.00","5,570.00","5,570.00","5,536.00","5,536.00",...,"5,337.00","3,721.00","1,676.00","1,659.00","3,794.00","1,659.00","2,527.00","2,473.00","2,626.00","2,274.00"
mean,"3,253,590.77","319,572.75",32.38,"7,425.70","7,714.57","7,127.99","1,617,978.82","33,871.28","1,139.84","9,971.50",...,384.25,"1,434.01",49.21,64.92,106.61,64.92,54.36,51.74,121.15,62.50
std,"984,910.34","107,233.03",9.83,"70,672.10","73,518.53","67,831.77","13,774,623.68","41,908.72","10,727.26","96,656.40",...,"2,314.82","8,446.46",80.04,187.85,447.66,187.85,161.24,171.47,586.86,262.53
min,"1,100,015.00",0.00,11.00,1.75,3.00,1.00,"18,051.00","5,407.66",6.00,75.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,"2,512,125.75","250,562.50",25.00,256.67,272.25,240.00,"112,490.25","12,831.15",81.00,626.00,...,48.00,204.00,12.00,12.00,24.00,12.00,12.00,12.00,12.00,11.00
50%,"3,146,280.00","314,255.00",31.00,792.75,839.50,758.00,"253,196.50","23,401.17",186.00,"1,362.00",...,96.00,387.00,36.00,36.00,36.00,36.00,24.00,24.00,36.00,16.00
75%,"4,119,189.50","411,757.50",41.00,"2,824.98","2,973.75","2,659.75","680,390.00","40,807.45",522.00,"3,856.50",...,228.00,768.00,48.00,48.00,73.75,48.00,48.00,48.00,72.00,48.00
max,"5,300,108.00","530,010.00",53.00,"4,306,018.50","4,495,432.00","4,110,104.00","828,980,608.00","920,833.97","681,246.00","5,852,375.00",...,"108,684.00","354,903.00","1,358.00","5,592.00","19,533.00","5,592.00","4,796.00","4,763.00","18,732.00","9,437.00"