In [ ]:
import pandas as pd

In [1]:
%run funcoes_gerais.ipynb

In [2]:
cod_municipios = pd.read_csv('../Código dos Municípios')

In [3]:
pib_Munic = pd.read_excel("../dataset/Economico/Renda e Desenvolvimento/PIB/PIB-Munic.xlsx")
pib_Munic_BD = pd.read_excel("../dataset/Economico/Renda e Desenvolvimento/PIB/PIB dos Municбpios - base de dados 2010-2021.xlsx")

In [4]:
PAM_2020 = pd.read_excel("../dataset/Producao Alimentar/Tipos de Alimento/PAM_2020.xlsx")

In [11]:
cempre = pd.read_excel("../dataset/Economico/Renda e Desenvolvimento/Renda Per Capta/Cempre_2020.xlsx")

# Analise

### PAM

In [5]:
PAM_2020.head()

,Município,Abacate,Abacaxi*,Açaí,Alfafa fenada,Algodão arbóreo (em caroço),Algodão herbáceo (em caroço),Alho,Amendoim (em casca),Arroz (em casca),...,Sisal ou agave (fibra),Soja (em grão),Sorgo (em grão),Tangerina,Tomate,Trigo (em grão),Triticale (em grão),Tungue (fruto seco),Urucum (semente),Uva
0,Alta Floresta D'Oeste (RO),-,205,4,...,-,-,-,3,705,...,-,1350,-,14,350,-,-,-,39,-
1,Ariquemes (RO),-,410,45,...,-,-,-,-,1650,...,-,25497,-,16,45,-,-,-,9,-
2,Cabixi (RO),-,60,-,...,-,-,-,1,1920,...,-,86772,-,-,-,-,-,-,99,-
3,Cacoal (RO),-,1850,-,...,-,-,-,15,90,...,-,3000,-,35,205,-,-,-,21,-
4,Cerejeiras (RO),-,750,-,...,-,-,-,13,2000,...,-,140760,-,-,1000,-,-,-,98,-

In [6]:
PAM_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5563 entries, 0 to 5562
Data columns (total 72 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Município                     5563 non-null   object
 1   Abacate                       5563 non-null   object
 2   Abacaxi*                      5563 non-null   object
 3   Açaí                          5563 non-null   object
 4   Alfafa fenada                 5563 non-null   object
 5   Algodão arbóreo (em caroço)   5563 non-null   object
 6   Algodão herbáceo (em caroço)  5563 non-null   object
 7   Alho                          5563 non-null   object
 8   Amendoim (em casca)           5563 non-null   object
 9   Arroz (em casca)              5563 non-null   object
 10  Aveia (em grão)               5563 non-null   object
 11  Azeitona                      5563 non-null   object
 12  Banana (cacho)                5563 non-null   object
 13  Batata-doce                   5563 non-null   object
 14  Batata-inglesa                5563 non-null   object
 15  Borracha (látex coagulado)    5563 non-null   object
 16  Borracha (látex líquido)      5563 non-null   object
 17  Cacau (em amêndoa)            5563 non-null   object
 18  Café (em grão) Total          5563 non-null   object
 19  Café (em grão) Arábica        5563 non-null   object
 20  Café (em grão) Canephora      5563 non-null   object
 21  Caju                          5563 non-null   object
 22  Cana-de-açúcar                5563 non-null   object
 23  Cana para forragem            5563 non-null   object
 24  Caqui                         5563 non-null   object
 25  Castanha de caju              5563 non-null   object
 26  Cebola                        5563 non-null   object
 27  Centeio (em grão)             5563 non-null   object
 28  Cevada (em grão)              5563 non-null   object
 29  Chá-da-índia (folha verde)    5563 non-null   object
 30  Coco-da-baía*                 5563 non-null   object
 31  Dendê (cacho de coco)         5563 non-null   object
 32  Erva-mate (folha verde)       5563 non-null   object
 33  Ervilha (em grão)             5563 non-null   object
 34  Fava (em grão)                5563 non-null   object
 35  Feijão (em grão)              5563 non-null   object
 36  Figo                          5563 non-null   object
 37  Fumo (em folha)               5563 non-null   object
 38  Girassol (em grão)            5563 non-null   object
 39  Goiaba                        5563 non-null   object
 40  Guaraná (semente)             5563 non-null   object
 41  Juta (fibra)                  5563 non-null   object
 42  Laranja                       5563 non-null   object
 43  Limão                         5563 non-null   object
 44  Linho (semente)               5563 non-null   object
 45  Maçã                          5563 non-null   object
 46  Malva (fibra)                 5563 non-null   object
 47  Mamão                         5563 non-null   object
 48  Mamona (baga)                 5563 non-null   object
 49  Mandioca                      5563 non-null   object
 50  Manga                         5563 non-null   object
 51  Maracujá                      5563 non-null   object
 52  Marmelo                       5563 non-null   object
 53  Melancia                      5563 non-null   object
 54  Melão                         5563 non-null   object
 55  Milho (em grão)               5563 non-null   object
 56  Noz (fruto seco)              5563 non-null   object
 57  Palmito                       5563 non-null   object
 58  Pera                          5563 non-null   object
 59  Pêssego                       5563 non-null   object
 60  Pimenta-do-reino              5563 non-null   object
 61  Rami (fibra)                  5563 non-null   object
 62  Sisal ou agave (fibra)        5563 non-null   object
 63  Soja (em grão)                5563 non-null   object
 64  Sorgo (em grão)               5563 non-null   object
 65  Tangerina                     5563 non-null   object
 66  Tomate                        5563 non-null   object
 67  Trigo (em grão)               5563 non-null   object
 68  Triticale (em grão)           5563 non-null   object
 69  Tungue (fruto seco)           5563 non-null   object
 70  Urucum (semente)              5563 non-null   object
 71  Uva                           5563 non-null   object
dtypes: object(72)
memory usage: 3.1+ MB

### PIB Munic

In [7]:
pib_Munic

,Cód.,Município,2017,2018,2019,2020,2021
0,1100015,Alta Floresta D'Oeste (RO),485374,498980,495775,570242,734469
1,1100023,Ariquemes (RO),2287910,2464704,2579278,2817331,3209761
2,1100031,Cabixi (RO),138110,140503,139976,167153,238412
3,1100049,Cacoal (RO),2082761,2175840,2261930,2518845,2792383
4,1100056,Cerejeiras (RO),439245,470647,506494,600630,743037
...,...,...,...,...,...,...,...
5565,5222005,Vianópolis (GO),395861,449973,489265,559058,857968
5566,5222054,Vicentinópolis (GO),350839,339089,326519,419757,480173
5567,5222203,Vila Boa (GO),118639,108469,112209,126150,179899
5568,5222302,Vila Propício (GO),182203,179915,207994,217935,308013
5569,5300108,Brasília (DF),244722249,254817205,273613711,265847334,286943782

### PIB Munic BD

In [8]:
pib_Munic_BD_2020 = pib_Munic_BD[pib_Munic_BD['Ano'] == 2020][['Código do Município', 'Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)','Atividade com maior valor adicionado bruto']]

In [9]:
pib_Munic_BD_2020

,Código do Município,"Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)",Atividade com maior valor adicionado bruto
55685,1100015,25089.83,"Administração, defesa, educação e saúde públic..."
55686,1100023,25723.65,Demais serviços
55687,1100031,32219.13,"Administração, defesa, educação e saúde públic..."
55688,1100049,29325.38,Demais serviços
55689,1100056,37066.80,Comércio e reparação de veículos automotores e...
...,...,...,...
61250,5222005,39998.43,"Agricultura, inclusive apoio à agricultura e a..."
61251,5222054,47307.22,"Agricultura, inclusive apoio à agricultura e a..."
61252,5222203,19985.71,"Administração, defesa, educação e saúde públic..."
61253,5222302,37051.24,"Agricultura, inclusive apoio à agricultura e a..."
61254,5300108,87016.16,"Administração, defesa, educação e saúde públic..."

In [10]:
pib_Munic_BD_2020.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5570 entries, 55685 to 61254
Data columns (total 3 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Código do Município                                              5570 non-null   int64
 1   Produto Interno Bruto per capita,
a preços correntes
(R$ 1,00)  5570 non-null   float64
 2   Atividade com maior valor adicionado bruto                       5570 non-null   object
dtypes: float64(1), int64(1), object(1)
memory usage: 174.1+ KB

### CEMPRE

In [12]:
cempre

,Unidades da Federação,Municípios,Número de unidades\nlocais,Pessoal ocupado Total,Pessoal ocupado Assalariado,Pessoal assalariado médio,Salários\ne outras\nremunerações\n(1 000 R$),Salário médio\n mensal \n(salários mínimos) (1) (2),Salário médio\n mensal \n(R$) (2),Número de empresas atuantes
0,Rondônia,Alta Floresta D'Oeste - RO,482,2990,2378,2368.93,6.027268e+04,1.873702,1957.153684,473
1,Rondônia,Ariquemes - RO,2720,20139,16743,16290.27,4.532944e+05,2.049200,2140.467795,2622
2,Rondônia,Cabixi - RO,60,616,555,566.61,1.379010e+04,1.792320,1872.147169,59
3,Rondônia,Cacoal - RO,2539,20132,16660,16814.82,4.343149e+05,1.902150,1986.868704,2446
4,Rondônia,Cerejeiras - RO,428,2631,2117,2056.84,5.663793e+04,2.027865,2118.183008,412
...,...,...,...,...,...,...,...,...,...,...
5565,Goiás,Vianópolis - GO,453,2404,1967,1972.95,6.227452e+04,2.324484,2428.012679,449
5566,Goiás,Vicentinópolis - GO,192,2080,1861,2210.76,6.414250e+04,2.136665,2231.829117,192
5567,Goiás,Vila Boa - GO,69,1304,1245,1349.73,3.374652e+04,1.841257,1923.263456,69
5568,Goiás,Vila Propício - GO,111,1124,995,1016.20,2.287212e+04,1.657522,1731.345662,105
5569,Distrito Federal,Brasília - DF,106009,1372180,1246187,1250059.13,9.027115e+07,5.318028,5554.884758,99473

In [13]:
cempre.columns

Index(['Unidades da Federação', 'Municípios', 'Número de unidades\nlocais',
       'Pessoal ocupado Total', 'Pessoal ocupado Assalariado',
       'Pessoal assalariado médio',
       'Salários\ne outras\nremunerações\n(1 000 R$)',
       'Salário médio\n mensal \n(salários mínimos)  (1) (2) ',
       'Salário médio\n mensal \n(R$) (2)', 'Número de empresas atuantes'],
      dtype='object')

In [14]:
cempre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 10 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Unidades da Federação                                5570 non-null   object
 1   Municípios                                           5570 non-null   object
 2   Número de unidades
locais                            5570 non-null   int64
 3   Pessoal ocupado Total                                5570 non-null   int64
 4   Pessoal ocupado Assalariado                          5570 non-null   int64
 5   Pessoal assalariado médio                            5570 non-null   float64
 6   Salários
e outras
remunerações
(1 000 R$)            5570 non-null   float64
 7   Salário médio
 mensal
(salários mínimos)  (1) (2)   5570 non-null   float64
 8   Salário médio
 mensal
(R$) (2)                      5570 non-null   float64
 9   Número de empresas atuantes                          5570 non-null   int64
dtypes: float64(4), int64(4), object(2)
memory usage: 435.3+ KB

# Transformação

### PAM

In [15]:
PAM_2020 = PAM(PAM_2020)

In [16]:
PAM_2020

,Codigo_Municipio,Produção de Abacate(toneladas),Produção de Abacaxi*(toneladas),Produção de Açaí(toneladas),Produção de Alfafa fenada(toneladas),Produção de Algodão arbóreo (em caroço)(toneladas),Produção de Algodão herbáceo (em caroço)(toneladas),Produção de Alho(toneladas),Produção de Amendoim (em casca)(toneladas),Produção de Arroz (em casca)(toneladas),...,Produção de Sisal ou agave (fibra)(toneladas),Produção de Soja (em grão)(toneladas),Produção de Sorgo (em grão)(toneladas),Produção de Tangerina(toneladas),Produção de Tomate(toneladas),Produção de Trigo (em grão)(toneladas),Produção de Triticale (em grão)(toneladas),Produção de Tungue (fruto seco)(toneladas),Produção de Urucum (semente)(toneladas),Produção de Uva(toneladas)
0,1100015,-,205,4,...,-,-,-,3,705,...,-,1350,-,14,350,-,-,-,39,-
1,1100379,-,50,15,...,-,-,-,52,480,...,-,10135,-,14,400,-,-,-,1,-
2,1100403,-,600,90,...,-,-,-,5,3300,...,-,64052,-,-,90,-,-,-,5,-
3,1100346,-,78,-,...,-,-,-,-,315,...,-,1221,-,-,165,-,-,-,5,-
4,1100023,-,410,45,...,-,-,-,-,1650,...,-,25497,-,16,45,-,-,-,9,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,5222005,-,-,-,...,-,-,-,-,-,...,-,154980,18000,-,68367,855,-,-,-,-
5566,5222054,-,-,-,...,-,-,-,-,-,...,-,73500,22500,-,25800,-,-,-,-,-
5567,5222203,-,-,-,...,-,-,-,-,-,...,-,900,6500,-,-,-,-,-,-,-
5568,5222302,-,-,-,...,-,-,-,-,24,...,-,45090,-,-,2850,-,-,-,-,-
5569,5300108,2850,198,-,...,-,-,4800,-,-,...,-,290550,48000,2312,28000,11400,-,-,-,1425

### PIB Munic BD

In [17]:
for col in pib_Munic.columns[2:]:
    pib_Munic[col] = pib_Munic[col].apply(lambda x: f"{x:,.1f}".replace(",", "X").replace(".", ",").replace("X", "."))

In [18]:
pib_Munic = pib_Munic.rename(columns={'Cód.':'Codigo_Municipio','2020':'PIB do Municipio'})

In [19]:
pib_Munic.head()

,Codigo_Municipio,Município,2017,2018,2019,PIB do Municipio,2021
0,1100015,Alta Floresta D'Oeste (RO),"485.374,0","498.980,0","495.775,0","570.242,0","734.469,0"
1,1100023,Ariquemes (RO),"2.287.910,0","2.464.704,0","2.579.278,0","2.817.331,0","3.209.761,0"
2,1100031,Cabixi (RO),"138.110,0","140.503,0","139.976,0","167.153,0","238.412,0"
3,1100049,Cacoal (RO),"2.082.761,0","2.175.840,0","2.261.930,0","2.518.845,0","2.792.383,0"
4,1100056,Cerejeiras (RO),"439.245,0","470.647,0","506.494,0","600.630,0","743.037,0"

### PIB Munic BD

In [20]:
pib_Munic_BD_2020 = pib_Munic_BD_2020.rename(columns={'Código do Município': 'Codigo_Municipio', 
                        'Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)': 'Produto Interno Bruto per capita, a preços correntes(R$ 1,00)'})
pib_Munic_BD_2020['Produto Interno Bruto per capita, a preços correntes(R$ 1,00)'] = pib_Munic_BD_2020['Produto Interno Bruto per capita, a preços correntes(R$ 1,00)'].apply(lambda x: f"{x:,.1f}".replace(",", "X").replace(".", ",").replace("X", "."))

In [21]:
pib_Munic_BD_2020

,Codigo_Municipio,"Produto Interno Bruto per capita, a preços correntes(R$ 1,00)",Atividade com maior valor adicionado bruto
55685,1100015,"25.089,8","Administração, defesa, educação e saúde públic..."
55686,1100023,"25.723,7",Demais serviços
55687,1100031,"32.219,1","Administração, defesa, educação e saúde públic..."
55688,1100049,"29.325,4",Demais serviços
55689,1100056,"37.066,8",Comércio e reparação de veículos automotores e...
...,...,...,...
61250,5222005,"39.998,4","Agricultura, inclusive apoio à agricultura e a..."
61251,5222054,"47.307,2","Agricultura, inclusive apoio à agricultura e a..."
61252,5222203,"19.985,7","Administração, defesa, educação e saúde públic..."
61253,5222302,"37.051,2","Agricultura, inclusive apoio à agricultura e a..."
61254,5300108,"87.016,2","Administração, defesa, educação e saúde públic..."

### CEMPRE

In [22]:
cempre = CEMPRE(cempre)

In [23]:
cempre

,Codigo_Municipio,Número de unidades\nlocais,Pessoal ocupado Total,Pessoal ocupado Assalariado,Pessoal assalariado médio,Salários\ne outras\nremunerações\n(1 000 R$),Salário médio\n mensal \n(salários mínimos) (1) (2),Salário médio mensal(R$),Número de empresas atuantes
0,1100015,482.0,2990.0,2378.0,2368.93,6.027268e+04,1.873702,"1.957,2",473.0
1,1100379,146.0,1100.0,912.0,905.13,2.296176e+04,1.868213,"1.951,4",146.0
2,1100403,256.0,1472.0,1151.0,1207.64,3.130146e+04,1.908795,"1.993,8",255.0
3,1100346,252.0,1541.0,1238.0,1220.07,2.666324e+04,1.609387,"1.681,1",246.0
4,1100023,2720.0,20139.0,16743.0,16290.27,4.532944e+05,2.049200,"2.140,5",2622.0
...,...,...,...,...,...,...,...,...,...
5565,5222005,453.0,2404.0,1967.0,1972.95,6.227452e+04,2.324484,"2.428,0",449.0
5566,5222054,192.0,2080.0,1861.0,2210.76,6.414250e+04,2.136665,"2.231,8",192.0
5567,5222203,69.0,1304.0,1245.0,1349.73,3.374652e+04,1.841257,"1.923,3",69.0
5568,5222302,111.0,1124.0,995.0,1016.20,2.287212e+04,1.657522,"1.731,3",105.0
5569,5300108,106009.0,1372180.0,1246187.0,1250059.13,9.027115e+07,5.318028,"5.554,9",99473.0

# Integração

In [24]:
bd_2020 = cod_municipios[['Codigo_Municipio', 'Município', 'UF', 'Sigla_UF']]

In [25]:
bd_2020 = bd_2020.merge(pib_Munic[['Codigo_Municipio', 'PIB do Municipio']], how='right')

In [26]:
bd_2020 = bd_2020.merge(pib_Munic_BD_2020, how='right')

In [27]:
bd_2020 = bd_2020.merge(cempre[['Codigo_Municipio', 'Salário médio mensal(R$)']], how='right')

In [28]:
bd_2020 = bd_2020.merge(PAM_2020, how='right')

In [29]:
bd_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 79 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Codigo_Municipio                                               5570 non-null   int64
 1   Município                                                      5570 non-null   object
 2   UF                                                             5570 non-null   int64
 3   Sigla_UF                                                       5570 non-null   object
 4   PIB do Municipio                                               5570 non-null   object
 5   Produto Interno Bruto per capita, a preços correntes(R$ 1,00)  5570 non-null   object
 6   Atividade com maior valor adicionado bruto                     5570 non-null   object
 7   Salário médio mensal(R$)                                       5570 non-null   object
 8   Produção de Abacate(toneladas)                                 5563 non-null   object
 9   Produção de Abacaxi*(toneladas)                                5563 non-null   object
 10  Produção de Açaí(toneladas)                                    5563 non-null   object
 11  Produção de Alfafa fenada(toneladas)                           5563 non-null   object
 12  Produção de Algodão arbóreo (em caroço)(toneladas)             5563 non-null   object
 13  Produção de Algodão herbáceo (em caroço)(toneladas)            5563 non-null   object
 14  Produção de Alho(toneladas)                                    5563 non-null   object
 15  Produção de Amendoim (em casca)(toneladas)                     5563 non-null   object
 16  Produção de Arroz (em casca)(toneladas)                        5563 non-null   object
 17  Produção de Aveia (em grão)(toneladas)                         5563 non-null   object
 18  Produção de Azeitona(toneladas)                                5563 non-null   object
 19  Produção de Banana (cacho)(toneladas)                          5563 non-null   object
 20  Produção de Batata-doce(toneladas)                             5563 non-null   object
 21  Produção de Batata-inglesa(toneladas)                          5563 non-null   object
 22  Produção de Borracha (látex coagulado)(toneladas)              5563 non-null   object
 23  Produção de Borracha (látex líquido)(toneladas)                5563 non-null   object
 24  Produção de Cacau (em amêndoa)(toneladas)                      5563 non-null   object
 25  Produção de Café (em grão) Total(toneladas)                    5563 non-null   object
 26  Produção de Café (em grão) Arábica(toneladas)                  5563 non-null   object
 27  Produção de Café (em grão) Canephora(toneladas)                5563 non-null   object
 28  Produção de Caju(toneladas)                                    5563 non-null   object
 29  Produção de Cana-de-açúcar(toneladas)                          5563 non-null   object
 30  Produção de Cana para forragem(toneladas)                      5563 non-null   object
 31  Produção de Caqui(toneladas)                                   5563 non-null   object
 32  Produção de Castanha de caju(toneladas)                        5563 non-null   object
 33  Produção de Cebola(toneladas)                                  5563 non-null   object
 34  Produção de Centeio (em grão)(toneladas)                       5563 non-null   object
 35  Produção de Cevada (em grão)(toneladas)                        5563 non-null   object
 36  Produção de Chá-da-índia (folha verde)(toneladas)              5563 non-null   object
 37  Produção de Coco-da-baía*(toneladas)                           5563 non-null   object
 38  Produção de Dendê (cacho de coco)(toneladas)                   5563 non-null   object
 39  Produção de Erva-mate (folha verde)(toneladas)                 5563 non-null   object
 40  Produção de Ervilha (em grão)(toneladas)                       5563 non-null   object
 41  Produção de Fava (em grão)(toneladas)                          5563 non-null   object
 42  Produção de Feijão (em grão)(toneladas)                        5563 non-null   object
 43  Produção de Figo(toneladas)                                    5563 non-null   object
 44  Produção de Fumo (em folha)(toneladas)                         5563 non-null   object
 45  Produção de Girassol (em grão)(toneladas)                      5563 non-null   object
 46  Produção de Goiaba(toneladas)                                  5563 non-null   object
 47  Produção de Guaraná (semente)(toneladas)                       5563 non-null   object
 48  Produção de Juta (fibra)(toneladas)                            5563 non-null   object
 49  Produção de Laranja(toneladas)                                 5563 non-null   object
 50  Produção de Limão(toneladas)                                   5563 non-null   object
 51  Produção de Linho (semente)(toneladas)                         5563 non-null   object
 52  Produção de Maçã(toneladas)                                    5563 non-null   object
 53  Produção de Malva (fibra)(toneladas)                           5563 non-null   object
 54  Produção de Mamão(toneladas)                                   5563 non-null   object
 55  Produção de Mamona (baga)(toneladas)                           5563 non-null   object
 56  Produção de Mandioca(toneladas)                                5563 non-null   object
 57  Produção de Manga(toneladas)                                   5563 non-null   object
 58  Produção de Maracujá(toneladas)                                5563 non-null   object
 59  Produção de Marmelo(toneladas)                                 5563 non-null   object
 60  Produção de Melancia(toneladas)                                5563 non-null   object
 61  Produção de Melão(toneladas)                                   5563 non-null   object
 62  Produção de Milho (em grão)(toneladas)                         5563 non-null   object
 63  Produção de Noz (fruto seco)(toneladas)                        5563 non-null   object
 64  Produção de Palmito(toneladas)                                 5563 non-null   object
 65  Produção de Pera(toneladas)                                    5563 non-null   object
 66  Produção de Pêssego(toneladas)                                 5563 non-null   object
 67  Produção de Pimenta-do-reino(toneladas)                        5563 non-null   object
 68  Produção de Rami (fibra)(toneladas)                            5563 non-null   object
 69  Produção de Sisal ou agave (fibra)(toneladas)                  5563 non-null   object
 70  Produção de Soja (em grão)(toneladas)                          5563 non-null   object
 71  Produção de Sorgo (em grão)(toneladas)                         5563 non-null   object
 72  Produção de Tangerina(toneladas)                               5563 non-null   object
 73  Produção de Tomate(toneladas)                                  5563 non-null   object
 74  Produção de Trigo (em grão)(toneladas)                         5563 non-null   object
 75  Produção de Triticale (em grão)(toneladas)                     5563 non-null   object
 76  Produção de Tungue (fruto seco)(toneladas)                     5563 non-null   object
 77  Produção de Urucum (semente)(toneladas)                        5563 non-null   object
 78  Produção de Uva(toneladas)                                     5563 non-null   object
dtypes: int64(2), object(77)
memory usage: 3.4+ MB

In [30]:
bd_2020

,Codigo_Municipio,Município,UF,Sigla_UF,PIB do Municipio,"Produto Interno Bruto per capita, a preços correntes(R$ 1,00)",Atividade com maior valor adicionado bruto,Salário médio mensal(R$),Produção de Abacate(toneladas),Produção de Abacaxi*(toneladas),...,Produção de Sisal ou agave (fibra)(toneladas),Produção de Soja (em grão)(toneladas),Produção de Sorgo (em grão)(toneladas),Produção de Tangerina(toneladas),Produção de Tomate(toneladas),Produção de Trigo (em grão)(toneladas),Produção de Triticale (em grão)(toneladas),Produção de Tungue (fruto seco)(toneladas),Produção de Urucum (semente)(toneladas),Produção de Uva(toneladas)
0,1100015,Alta Floresta D'Oeste,11,RO,"570.242,0","25.089,8","Administração, defesa, educação e saúde públic...","1.957,2",-,205,...,-,1350,-,14,350,-,-,-,39,-
1,1100379,Alto Alegre dos Parecis,11,RO,"324.519,0","24.482,7","Agricultura, inclusive apoio à agricultura e a...","1.951,4",-,50,...,-,10135,-,14,400,-,-,-,1,-
2,1100403,Alto Paraíso,11,RO,"396.387,0","18.143,8","Administração, defesa, educação e saúde públic...","1.993,8",-,600,...,-,64052,-,-,90,-,-,-,5,-
3,1100346,Alvorada D'Oeste,11,RO,"289.497,0","20.523,0","Administração, defesa, educação e saúde públic...","1.681,1",-,78,...,-,1221,-,-,165,-,-,-,5,-
4,1100023,Ariquemes,11,RO,"2.817.331,0","25.723,7",Demais serviços,"2.140,5",-,410,...,-,25497,-,16,45,-,-,-,9,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,5222005,Vianópolis,52,GO,"559.058,0","39.998,4","Agricultura, inclusive apoio à agricultura e a...","2.428,0",-,-,...,-,154980,18000,-,68367,855,-,-,-,-
5566,5222054,Vicentinópolis,52,GO,"419.757,0","47.307,2","Agricultura, inclusive apoio à agricultura e a...","2.231,8",-,-,...,-,73500,22500,-,25800,-,-,-,-,-
5567,5222203,Vila Boa,52,GO,"126.150,0","19.985,7","Administração, defesa, educação e saúde públic...","1.923,3",-,-,...,-,900,6500,-,-,-,-,-,-,-
5568,5222302,Vila Propício,52,GO,"217.935,0","37.051,2","Agricultura, inclusive apoio à agricultura e a...","1.731,3",-,-,...,-,45090,-,-,2850,-,-,-,-,-
5569,5300108,Brasília,53,DF,"265.847.334,0","87.016,2","Administração, defesa, educação e saúde públic...","5.554,9",2850,198,...,-,290550,48000,2312,28000,11400,-,-,-,1425