In [50]:
import pandas as pd

In [1]:
%run funcoes_gerais.ipynb

In [2]:
cod_municipios = pd.read_csv('../dataset/Código dos Municípios')

In [3]:
caged = pd.read_excel("../dataset/Economico/Renda e Desenvolvimento/PIB/caged_Atualizado.xlsx")

In [4]:
bpc = pd.read_csv("../dataset/Social/Projetos Sociais/bpc_2022.csv")

In [5]:
PAM_2022 = pd.read_excel("../dataset/Producao Alimentar/Tipos de Alimento/PAM_2022.xlsx")

In [6]:
cempre = pd.read_excel("../dataset/Economico/Renda e Desenvolvimento/Renda Per Capta/Cempre_2022.xlsx")

In [7]:
clin_Amb_BAS = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/Numero de clinicas Basicas/CNES_Ambulatorio_basico.csv", encoding='latin-1', skiprows=3, sep=';')
clin_Amb_ESP = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/Numero de clinicas especializadas/CNES_Ambulatorio_especializado.csv", encoding='latin-1', skiprows=3, sep=';')

In [8]:
leitos_internacao = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/numero de Leitos/CNES_Leitos_Internação_Hospitalar.csv",encoding='latin-1', skiprows=3, sep=';')

In [9]:
leitos_repouso_Ambulatorio_FEM = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/numero de Leitos/CNES_Leitos_repouso_Ambulatorio_FEM.csv",encoding='latin-1', skiprows=3, sep=';')
leitos_repouso_Ambulatorio_INDF = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/numero de Leitos/CNES_Leitos_repouso_Ambulatorio_INDF.csv",encoding='latin-1', skiprows=3, sep=';')
leitos_repouso_Ambulatorio_MASC = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/numero de Leitos/CNES_Leitos_repouso_Ambulatorio_MASC.csv",encoding='latin-1', skiprows=3, sep=';')
leitos_repouso_Ambulatorio_PED = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/numero de Leitos/CNES_Leitos_repouso_Ambulatorio_PED.csv",encoding='latin-1', skiprows=3, sep=';')

In [10]:
leitos_repouso_Urgencia_FEM = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/numero de Leitos/CNES_Leitos_repouso_Urgencia_FEM.csv",encoding='latin-1', skiprows=3, sep=';')
leitos_repouso_Urgencia_INDF = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/numero de Leitos/CNES_Leitos_repouso_Urgencia_INDF.csv",encoding='latin-1', skiprows=3, sep=';')
leitos_repouso_Urgencia_MASC = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/numero de Leitos/CNES_Leitos_repouso_Urgencia_MASC.csv",encoding='latin-1', skiprows=3, sep=';')
leitos_repouso_Urgencia_PED = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/numero de Leitos/CNES_Leitos_repouso_Urgencia_PED.csv",encoding='latin-1', skiprows=3, sep=';')

# Analise

### Caged

In [11]:
caged

,Codigo_Municipio,Codigo_Municipio_2,UF,Municipio,2020_Estoque_media,2020_Estoque_MAX,2020_Estoque_MIN,2023_Estoque_media,2023_Estoque_MAX,2023_Estoque_MIN,...,2022_Estoque_MAX,2022_Estoque_MIN,2021_Estoque_media,2021_Estoque_MAX,2021_Estoque_MIN,2024_Estoque_media,2024_Estoque_MAX,2024_Estoque_MIN,UF.1,Municipio.1
0,1100015,110001,RO,Alta Floresta D Oeste,"1,964.69","2,024.00","1,915.00","2,272.17","2,334.00","2,208.00",...,"2,269.00","2,107.00","2,096.67","2,134.00","2,045.00","2,294.00","2,298.00","2,290.00",RO,Alta Floresta D Oeste
1,1100379,110037,RO,Alto Alegre dos Parecis,560.56,576.00,549.00,675.42,697.00,653.00,...,686.00,575.00,589.25,606.00,571.00,692.00,700.00,684.00,RO,Alto Alegre dos Parecis
2,1100403,110040,RO,Alto Paraiso,"1,193.02","1,233.00","1,165.00","1,277.00","1,310.00","1,216.00",...,"1,288.00","1,240.00","1,240.50","1,275.00","1,193.00","1,247.00","1,255.00","1,239.00",RO,Alto Paraiso
3,1100346,110034,RO,Alvorada D Oeste,807.90,827.00,785.00,872.42,899.00,861.00,...,922.00,882.00,877.92,897.00,848.00,867.00,869.00,865.00,RO,Alvorada D Oeste
4,1100023,110002,RO,Ariquemes,"15,949.64","16,308.00","15,508.00","19,121.75","19,513.00","18,246.00",...,"19,031.00","17,539.00","16,900.17","17,517.00","16,221.00","19,150.00","19,500.00","18,800.00",RO,Ariquemes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,5222005,522200,GO,Vianopolis,"2,125.08","2,171.00","2,091.00","2,833.58","2,981.00","2,674.00",...,"2,743.00","2,551.00","2,346.42","2,504.00","2,198.00","2,972.00","2,980.00","2,964.00",GO,Vianopolis
5566,5222054,522205,GO,Vicentinopolis,"2,367.00","2,549.00","2,052.00","2,529.00","2,794.00","2,163.00",...,"2,671.00","1,991.00","2,318.17","2,563.00","1,963.00","2,311.50","2,361.00","2,262.00",GO,Vicentinopolis
5567,5222203,522220,GO,Vila Boa,"1,750.04","2,052.00","1,524.00","1,785.00","2,169.00","1,312.00",...,"2,347.00","1,429.00","1,787.25","2,152.00","1,369.00","1,410.00","1,422.00","1,398.00",GO,Vila Boa
5568,5222302,522230,GO,Vila Propicio,936.63,956.00,914.00,"1,178.42","1,245.00","1,132.00",...,"1,152.00","1,044.00","1,022.67","1,048.00",968.00,"1,146.00","1,158.00","1,134.00",GO,Vila Propicio
5569,5300108,530010,DF,Brasilia,"827,892.78","847,945.00","814,709.00","954,068.33","973,513.00","929,370.00",...,"938,715.00","887,395.00","858,208.17","887,440.00","833,296.00","973,895.50","977,151.00","970,640.00",DF,Brasilia

In [12]:
caged = caged[['Codigo_Municipio', '2022_Estoque_media', '2022_Estoque_MAX', '2022_Estoque_MIN']]

In [13]:
caged

      Codigo_Municipio  2022_Estoque_media  2022_Estoque_MAX  2022_Estoque_MIN
0              1100015            2,195.92          2,269.00          2,107.00
1              1100379              629.00            686.00            575.00
2              1100403            1,266.17          1,288.00          1,240.00
3              1100346              901.67            922.00            882.00
4              1100023           18,565.75         19,031.00         17,539.00
...                ...                 ...               ...               ...
5565           5222005            2,642.58          2,743.00          2,551.00
5566           5222054            2,431.33          2,671.00          1,991.00
5567           5222203            1,858.58          2,347.00          1,429.00
5568           5222302            1,099.25          1,152.00          1,044.00
5569           5300108          915,232.50        938,715.00        887,395.00

[5570 rows x 4 columns]

### CEMPRE

In [14]:
cempre

,Unidades da Federação,Municípios,Número de unidades\nlocais,Pessoal ocupado Total,Pessoal ocupado Assalariado,Pessoal assalariado médio,Salários\ne outras\nremunerações\n(1 000 R$),Salário médio\n mensal \n(salários mínimos) (1) (2),Salário médio\n mensal \n(R$) (2),Número de empresas atuantes
0,Rondônia,Alta Floresta D'Oeste - RO,866,3706,2707,"2,664.23","89,120.34",2.12,"2,573.13",848
1,Rondônia,Ariquemes - RO,4730,24810,19196,"18,794.23","594,354.56",2.01,"2,432.64",4533
2,Rondônia,Cabixi - RO,201,805,625,595.58,"17,905.62",1.91,"2,312.63",199
3,Rondônia,Cacoal - RO,4258,23243,18227,"18,120.38","544,924.72",1.91,"2,313.27",4045
4,Rondônia,Cerejeiras - RO,803,3556,2701,"2,647.39","84,972.05",2.04,"2,468.96",773
...,...,...,...,...,...,...,...,...,...,...
5565,Goiás,Vianópolis - GO,774,3442,2457,"2,441.01","84,111.45",2.19,"2,650.59",762
5566,Goiás,Vicentinópolis - GO,342,2500,2129,"2,402.59","79,242.38",2.09,"2,537.08",339
5567,Goiás,Vila Boa - GO,170,1120,927,"1,193.93","38,351.52",2.04,"2,470.93",167
5568,Goiás,Vila Propício - GO,186,1533,1358,"1,282.25","39,798.11",1.97,"2,387.52",176
5569,Distrito Federal,Brasília - DF,190432,1427471,1195111,"1,202,029.55","92,228,759.25",4.87,"5,902.12",178067

In [15]:
cempre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 10 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Unidades da Federação                                5570 non-null   object
 1   Municípios                                           5570 non-null   object
 2   Número de unidades
locais                            5570 non-null   int64
 3   Pessoal ocupado Total                                5570 non-null   int64
 4   Pessoal ocupado Assalariado                          5570 non-null   int64
 5   Pessoal assalariado médio                            5570 non-null   float64
 6   Salários
e outras
remunerações
(1 000 R$)            5570 non-null   float64
 7   Salário médio
 mensal
(salários mínimos)  (1) (2)   5570 non-null   float64
 8   Salário médio
 mensal
(R$) (2)                      5570 non-null   object
 9   Número de empresas atuantes                          5570 non-null   int64
dtypes: float64(3), int64(4), object(3)
memory usage: 435.3+ KB

### BPC

In [16]:
bpc

,ibge,anomes,bpc_ben,bpc_pcd_ben,bpc_idoso_ben,bpc_pcd_val,bpc_idoso_val,bpc_val
0,110001,202201,502,407.00,95.00,"493,284.00","116,352.00","609,636.00"
1,110002,202201,2806,"1,782.00","1,024.00","2,163,420.00","1,242,300.60","3,405,720.60"
2,110003,202201,79,64.00,15.00,"77,568.00","18,180.00","95,748.00"
3,110004,202201,1992,"1,338.00",654.00,"1,621,657.80","792,648.00","2,414,305.80"
4,110005,202201,421,338.00,83.00,"409,656.60","101,808.00","511,464.60"
...,...,...,...,...,...,...,...,...
66835,522200,202212,334,196.00,138.00,"237,553.89","167,257.93","404,811.82"
66836,522205,202212,147,100.00,47.00,"121,202.50","56,964.10","178,166.60"
66837,522220,202212,144,111.00,33.00,"134,532.00","41,208.00","175,740.00"
66838,522230,202212,29,26.00,3.00,"31,512.41","3,636.00","35,148.41"
66839,530010,202212,58845,"29,781.00","29,064.00","36,125,057.14","35,254,183.05","71,379,240.19"

In [17]:
bpc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66840 entries, 0 to 66839
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ibge           66840 non-null  int64
 1   anomes         66840 non-null  int64
 2   bpc_ben        66840 non-null  int64
 3   bpc_pcd_ben    66835 non-null  float64
 4   bpc_idoso_ben  66835 non-null  float64
 5   bpc_pcd_val    66816 non-null  float64
 6   bpc_idoso_val  66096 non-null  float64
 7   bpc_val        66840 non-null  float64
dtypes: float64(5), int64(3)
memory usage: 4.1 MB

In [18]:
bpc['anomes'].value_counts()

anomes
202201    5570
202202    5570
202203    5570
202204    5570
202205    5570
202206    5570
202207    5570
202208    5570
202209    5570
202210    5570
202211    5570
202212    5570
Name: count, dtype: int64

# Transformação

### CNES

#### Amb_BAS

In [19]:
clin_Amb_BAS = CNES(clin_Amb_BAS, '2024')

/tmp/ipykernel_47805/3025589086.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_47805/3025589086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)

In [20]:
clin_Amb_BAS.rename(columns={'sum':'Numero Clinicas de Ambulatorio Basicas'}, inplace=True)

#### AMB_ESP

In [21]:
clin_Amb_ESP = CNES(clin_Amb_ESP,'2024')

/tmp/ipykernel_47805/3025589086.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_47805/3025589086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)

In [22]:
clin_Amb_ESP.rename(columns={'sum':'Numero Clinicas de Ambulatorio Especializadas'}, inplace=True)

#### Internação

In [23]:
leitos_internacao = CNES(leitos_internacao,'2024')

/tmp/ipykernel_47805/3025589086.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_47805/3025589086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)

In [24]:
leitos_internacao.rename(columns={'sum':'Numero Leitos de Internação'}, inplace=True)

#### Leito Amb

In [25]:
leitos_repouso_Ambulatorio_FEM = CNES(leitos_repouso_Ambulatorio_FEM,'2024')
leitos_repouso_Ambulatorio_INDF = CNES(leitos_repouso_Ambulatorio_INDF,'2024')
leitos_repouso_Ambulatorio_MASC = CNES(leitos_repouso_Ambulatorio_MASC,'2024')
leitos_repouso_Ambulatorio_PED = CNES(leitos_repouso_Ambulatorio_PED,'2024')

/tmp/ipykernel_47805/3025589086.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_47805/3025589086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)
/tmp/ipykernel_47805/3025589086.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_47805/3025589086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)
/tmp/ipykernel_47805/3025589086.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_47805/3025589086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)
/tmp/ipykernel_47805/3025589086.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_47805/3025589086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)

In [26]:
leitos_repouso_Ambulatorio_FEM.rename(columns={'sum':'Numero Leitos de Ambulatorio Feminino'}, inplace=True)
leitos_repouso_Ambulatorio_INDF.rename(columns={'sum':'Numero Leitos de Ambulatorio Indiferente'}, inplace=True)
leitos_repouso_Ambulatorio_MASC.rename(columns={'sum':'Numero Leitos de Ambulatorio Masculino'}, inplace=True)
leitos_repouso_Ambulatorio_PED.rename(columns={'sum':'Numero Leitos de Ambulatorio Pediatro'}, inplace=True)

#### Leito Urg

In [27]:
leitos_repouso_Urgencia_FEM = CNES(leitos_repouso_Urgencia_FEM,'2024')
leitos_repouso_Urgencia_INDF = CNES(leitos_repouso_Urgencia_INDF,'2024')
leitos_repouso_Urgencia_MASC = CNES(leitos_repouso_Urgencia_MASC,'2024')
leitos_repouso_Urgencia_PED = CNES(leitos_repouso_Urgencia_PED,'2024')

/tmp/ipykernel_47805/3025589086.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_47805/3025589086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)
/tmp/ipykernel_47805/3025589086.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_47805/3025589086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)
/tmp/ipykernel_47805/3025589086.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_47805/3025589086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)
/tmp/ipykernel_47805/3025589086.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_47805/3025589086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)

In [28]:
leitos_repouso_Urgencia_FEM.rename(columns={'sum':'Numero Leitos de Urgencia Feminino'}, inplace=True)
leitos_repouso_Urgencia_INDF.rename(columns={'sum':'Numero Leitos de Urgencia Indiferente'}, inplace=True)
leitos_repouso_Urgencia_MASC.rename(columns={'sum':'Numero Leitos de Urgencia Masculino'}, inplace=True)
leitos_repouso_Urgencia_PED.rename(columns={'sum':'Numero Leitos de Urgencia Pediatro'}, inplace=True)

### Caged

In [29]:
caged = caged.round(2)

In [30]:
caged

      Codigo_Municipio  2022_Estoque_media  2022_Estoque_MAX  2022_Estoque_MIN
0              1100015            2,195.92          2,269.00          2,107.00
1              1100379              629.00            686.00            575.00
2              1100403            1,266.17          1,288.00          1,240.00
3              1100346              901.67            922.00            882.00
4              1100023           18,565.75         19,031.00         17,539.00
...                ...                 ...               ...               ...
5565           5222005            2,642.58          2,743.00          2,551.00
5566           5222054            2,431.33          2,671.00          1,991.00
5567           5222203            1,858.58          2,347.00          1,429.00
5568           5222302            1,099.25          1,152.00          1,044.00
5569           5300108          915,232.50        938,715.00        887,395.00

[5570 rows x 4 columns]

### PAM

In [31]:
PAM_2022 = PAM(PAM_2022)

### CEMPRE

In [32]:
cempre = CEMPRE(cempre)

In [33]:
cempre

,Codigo_Municipio,Número de unidades locais,Pessoal ocupado Total,Pessoal ocupado Assalariado,Pessoal assalariado médio,Salário médio mensal (salários mínimos) (1) (2),Salário médio mensal(R$),Número de empresas atuantes
0,1100015,866.00,"3,706.00","2,707.00","2,664.23",2.12,"2,573.13",848.00
1,1100379,261.00,"1,297.00","1,020.00",961.96,1.99,"2,410.62",260.00
2,1100403,475.00,"1,964.00","1,439.00","1,438.61",2.23,"2,706.04",473.00
3,1100346,438.00,"1,762.00","1,324.00","1,301.09",1.72,"2,090.29",430.00
4,1100023,"4,730.00","24,810.00","19,196.00","18,794.23",2.01,"2,432.64","4,533.00"
...,...,...,...,...,...,...,...,...
5565,5222005,774.00,"3,442.00","2,457.00","2,441.01",2.19,"2,650.59",762.00
5566,5222054,342.00,"2,500.00","2,129.00","2,402.59",2.09,"2,537.08",339.00
5567,5222203,170.00,"1,120.00",927.00,"1,193.93",2.04,"2,470.93",167.00
5568,5222302,186.00,"1,533.00","1,358.00","1,282.25",1.97,"2,387.52",176.00
5569,5300108,"190,432.00","1,427,471.00","1,195,111.00","1,202,029.55",4.87,"5,902.12","178,067.00"

In [34]:
cempre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 8 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Codigo_Municipio                                     5570 non-null   int64
 1   Número de unidades locais                            5536 non-null   float64
 2   Pessoal ocupado Total                                5536 non-null   float64
 3   Pessoal ocupado Assalariado                          5536 non-null   float64
 4   Pessoal assalariado médio                            5536 non-null   float64
 5   Salário médio  mensal  (salários mínimos)  (1) (2)   5536 non-null   float64
 6   Salário médio mensal(R$)                             5536 non-null   object
 7   Número de empresas atuantes                          5536 non-null   float64
dtypes: float64(6), int64(1), object(1)
memory usage: 348.3+ KB

### BPC

In [35]:
bpc = BPC(bpc)

In [36]:
bpc

,ibge,num_beneficiados_bpc,media_beneficiados_bpc,num_pcd_beneficiados_bpc,media_pcd_beneficiados_bpc,num_idoso_beneficiados_bpc,media_idoso_beneficiados_bpc,valor_total_repassado_bpc,media_valor_repassado_bpc,valor_pcd_repassado_bpc,media_valor_pcd_repassado_bpc,valor_idoso_repassado_bpc,media_valor_idoso_repassado_pbc
0,110001,6201,516.75,"5,040.00",420.00,"1,161.00",96.75,"7,521,780.79","626,815.07","6,112,211.59","509,350.97","1,409,569.20","117,464.10"
1,110002,34260,"2,855.00","21,807.00","1,817.25","12,453.00","1,037.75","41,564,564.30","3,463,713.69","26,455,536.09","2,204,628.01","15,109,028.21","1,259,085.68"
2,110003,967,80.58,771.00,64.25,196.00,16.33,"1,173,236.96","97,769.75","935,681.84","77,973.49","237,555.12","19,796.26"
3,110004,24588,"2,049.00","16,599.00","1,383.25","7,989.00",665.75,"29,816,865.22","2,484,738.77","20,129,212.23","1,677,434.35","9,687,652.99","807,304.42"
4,110005,5171,430.92,"4,090.00",340.83,"1,081.00",90.08,"6,269,751.71","522,479.31","4,958,360.29","413,196.69","1,311,391.42","109,282.62"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,522200,3732,311.00,"2,194.00",182.83,"1,538.00",128.17,"4,528,072.15","377,339.35","2,661,576.97","221,798.08","1,866,495.18","155,541.26"
5566,522205,1762,146.83,"1,209.00",100.75,553.00,46.08,"2,135,585.82","177,965.48","1,465,338.39","122,111.53","670,247.43","55,853.95"
5567,522220,1671,139.25,"1,259.00",104.92,412.00,34.33,"2,027,684.18","168,973.68","1,527,126.88","127,260.57","500,557.30","41,713.11"
5568,522230,386,32.17,342.00,28.50,44.00,3.67,"467,838.51","38,986.54","414,509.84","34,542.49","53,328.67","4,444.06"
5569,530010,664788,"55,399.00","337,333.00","28,111.08","327,455.00","27,287.92","806,393,258.08","67,199,438.17","409,133,233.09","34,094,436.09","397,260,024.99","33,105,002.08"

# Integração

In [37]:
bd_2022 = cod_municipios[['Codigo_Municipio', 'Codigo_Municipio_2', 'Município', 'UF', 'Sigla_UF']]

In [38]:
bd_2022 = bd_2022.merge(caged, how='left')

In [39]:
bd_2022 = bd_2022.merge(cempre, how='left')

In [40]:
bd_2022 = bd_2022.merge(bpc, how='left', left_on='Codigo_Municipio_2', right_on='ibge')

In [41]:
bd_2022 = bd_2022.drop('ibge', axis=1)

In [42]:
bd_2022 = bd_2022.merge(clin_Amb_BAS, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')
bd_2022 = bd_2022.merge(clin_Amb_ESP, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')

In [43]:
bd_2022 = bd_2022.merge(leitos_internacao, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')

In [44]:
bd_2022.drop(columns=['cod_municipio', 'cod_municipio_x', 'cod_municipio_y'], inplace=True)

In [45]:
bd_2022 = bd_2022.merge(leitos_repouso_Ambulatorio_FEM, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')
bd_2022 = bd_2022.merge(leitos_repouso_Ambulatorio_MASC, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')
bd_2022 = bd_2022.merge(leitos_repouso_Ambulatorio_INDF, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')
bd_2022.drop(columns=['cod_municipio', 'cod_municipio_x', 'cod_municipio_y'], inplace=True)
bd_2022 = bd_2022.merge(leitos_repouso_Ambulatorio_PED, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')

In [46]:
bd_2022 = bd_2022.merge(leitos_repouso_Urgencia_FEM, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')
bd_2022 = bd_2022.merge(leitos_repouso_Urgencia_MASC, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')
bd_2022.drop(columns=['cod_municipio', 'cod_municipio_x', 'cod_municipio_y'], inplace=True)
bd_2022 = bd_2022.merge(leitos_repouso_Urgencia_INDF, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')
bd_2022 = bd_2022.merge(leitos_repouso_Urgencia_PED, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')
bd_2022.drop(columns=['cod_municipio_x', 'cod_municipio_y'], inplace=True)

In [47]:
bd_2022 = bd_2022.merge(PAM_2022, how='left')

In [51]:
bd_2022.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 109 columns):
 #    Column                                               Non-Null Count  Dtype
---   ------                                               --------------  -----
 0    Codigo_Municipio                                     5570 non-null   int64
 1    Codigo_Municipio_2                                   5570 non-null   int64
 2    Município                                            5570 non-null   object
 3    UF                                                   5570 non-null   int64
 4    Sigla_UF                                             5570 non-null   object
 5    2022_Estoque_media                                   5460 non-null   float64
 6    2022_Estoque_MAX                                     5460 non-null   float64
 7    2022_Estoque_MIN                                     5460 non-null   float64
 8    Número de unidades locais                            5536 non-null   float64
 9    Pessoal ocupado Total                                5536 non-null   float64
 10   Pessoal ocupado Assalariado                          5536 non-null   float64
 11   Pessoal assalariado médio                            5536 non-null   float64
 12   Salário médio  mensal  (salários mínimos)  (1) (2)   5536 non-null   float64
 13   Salário médio mensal(R$)                             5536 non-null   object
 14   Número de empresas atuantes                          5536 non-null   float64
 15   num_beneficiados_bpc                                 5464 non-null   float64
 16   media_beneficiados_bpc                               5464 non-null   float64
 17   num_pcd_beneficiados_bpc                             5464 non-null   float64
 18   media_pcd_beneficiados_bpc                           5464 non-null   float64
 19   num_idoso_beneficiados_bpc                           5464 non-null   float64
 20   media_idoso_beneficiados_bpc                         5464 non-null   float64
 21   valor_total_repassado_bpc                            5464 non-null   float64
 22   media_valor_repassado_bpc                            5464 non-null   float64
 23   valor_pcd_repassado_bpc                              5464 non-null   float64
 24   media_valor_pcd_repassado_bpc                        5464 non-null   float64
 25   valor_idoso_repassado_bpc                            5464 non-null   float64
 26   media_valor_idoso_repassado_pbc                      5431 non-null   float64
 27   Numero Clinicas de Ambulatorio Basicas               5337 non-null   float64
 28   Numero Clinicas de Ambulatorio Especializadas        5337 non-null   float64
 29   Numero Leitos de Internação                          3721 non-null   float64
 30   Numero Leitos de Ambulatorio Feminino                1676 non-null   float64
 31   Numero Leitos de Ambulatorio Masculino               1659 non-null   float64
 32   Numero Leitos de Ambulatorio Indiferente             3794 non-null   float64
 33   Numero Leitos de Ambulatorio Pediatro                1659 non-null   float64
 34   Numero Leitos de Urgencia Feminino                   2527 non-null   float64
 35   Numero Leitos de Urgencia Masculino                  2473 non-null   float64
 36   Numero Leitos de Urgencia Indiferente                2626 non-null   float64
 37   Numero Leitos de Urgencia Pediatro                   2274 non-null   float64
 38   Produção de Abacate(toneladas)                       5563 non-null   object
 39   Produção de Abacaxi*(toneladas)                      5563 non-null   object
 40   Produção de Açaí(toneladas)                          5563 non-null   object
 41   Produção de Alfafa fenada(toneladas)                 5563 non-null   object
 42   Produção de Algodão arbóreo (em caroço)(toneladas)   5563 non-null   object
 43   Produção de Algodão herbáceo (em caroço)(toneladas)  5563 non-null   object
 44   Produção de Alho(toneladas)                          5563 non-null   object
 45   Produção de Amendoim (em casca)(toneladas)           5563 non-null   object
 46   Produção de Arroz (em casca)(toneladas)              5563 non-null   object
 47   Produção de Aveia (em grão)(toneladas)               5563 non-null   object
 48   Produção de Azeitona(toneladas)                      5563 non-null   object
 49   Produção de Banana (cacho)(toneladas)                5563 non-null   object
 50   Produção de Batata-doce(toneladas)                   5563 non-null   object
 51   Produção de Batata-inglesa(toneladas)                5563 non-null   object
 52   Produção de Borracha (látex coagulado)(toneladas)    5563 non-null   object
 53   Produção de Borracha (látex líquido)(toneladas)      5563 non-null   object
 54   Produção de Cacau (em amêndoa)(toneladas)            5563 non-null   object
 55   Produção de Café (em grão) Total(toneladas)          5563 non-null   object
 56   Produção de Café (em grão) Arábica(toneladas)        5563 non-null   object
 57   Produção de Café (em grão) Canephora(toneladas)      5563 non-null   object
 58   Produção de Caju(toneladas)                          5563 non-null   object
 59   Produção de Cana-de-açúcar(toneladas)                5563 non-null   object
 60   Produção de Cana para forragem(toneladas)            5563 non-null   object
 61   Produção de Caqui(toneladas)                         5563 non-null   object
 62   Produção de Castanha de caju(toneladas)              5563 non-null   object
 63   Produção de Cebola(toneladas)                        5563 non-null   object
 64   Produção de Centeio (em grão)(toneladas)             5563 non-null   object
 65   Produção de Cevada (em grão)(toneladas)              5563 non-null   object
 66   Produção de Chá-da-índia (folha verde)(toneladas)    5563 non-null   object
 67   Produção de Coco-da-baía*(toneladas)                 5563 non-null   object
 68   Produção de Dendê (cacho de coco)(toneladas)         5563 non-null   object
 69   Produção de Erva-mate (folha verde)(toneladas)       5563 non-null   object
 70   Produção de Ervilha (em grão)(toneladas)             5563 non-null   object
 71   Produção de Fava (em grão)(toneladas)                5563 non-null   object
 72   Produção de Feijão (em grão)(toneladas)              5563 non-null   object
 73   Produção de Figo(toneladas)                          5563 non-null   object
 74   Produção de Fumo (em folha)(toneladas)               5563 non-null   object
 75   Produção de Girassol (em grão)(toneladas)            5563 non-null   object
 76   Produção de Goiaba(toneladas)                        5563 non-null   object
 77   Produção de Guaraná (semente)(toneladas)             5563 non-null   object
 78   Produção de Juta (fibra)(toneladas)                  5563 non-null   object
 79   Produção de Laranja(toneladas)                       5563 non-null   object
 80   Produção de Limão(toneladas)                         5563 non-null   object
 81   Produção de Linho (semente)(toneladas)               5563 non-null   object
 82   Produção de Maçã(toneladas)                          5563 non-null   object
 83   Produção de Malva (fibra)(toneladas)                 5563 non-null   object
 84   Produção de Mamão(toneladas)                         5563 non-null   object
 85   Produção de Mamona (baga)(toneladas)                 5563 non-null   object
 86   Produção de Mandioca(toneladas)                      5563 non-null   object
 87   Produção de Manga(toneladas)                         5563 non-null   object
 88   Produção de Maracujá(toneladas)                      5563 non-null   object
 89   Produção de Marmelo(toneladas)                       5563 non-null   object
 90   Produção de Melancia(toneladas)                      5563 non-null   object
 91   Produção de Melão(toneladas)                         5563 non-null   object
 92   Produção de Milho (em grão)(toneladas)               5563 non-null   object
 93   Produção de Noz (fruto seco)(toneladas)              5563 non-null   object
 94   Produção de Palmito(toneladas)                       5563 non-null   object
 95   Produção de Pera(toneladas)                          5563 non-null   object
 96   Produção de Pêssego(toneladas)                       5563 non-null   object
 97   Produção de Pimenta-do-reino(toneladas)              5563 non-null   object
 98   Produção de Rami (fibra)(toneladas)                  5563 non-null   object
 99   Produção de Sisal ou agave (fibra)(toneladas)        5563 non-null   object
 100  Produção de Soja (em grão)(toneladas)                5563 non-null   object
 101  Produção de Sorgo (em grão)(toneladas)               5563 non-null   object
 102  Produção de Tangerina(toneladas)                     5563 non-null   object
 103  Produção de Tomate(toneladas)                        5563 non-null   object
 104  Produção de Trigo (em grão)(toneladas)               5563 non-null   object
 105  Produção de Triticale (em grão)(toneladas)           5563 non-null   object
 106  Produção de Tungue (fruto seco)(toneladas)           5563 non-null   object
 107  Produção de Urucum (semente)(toneladas)              5563 non-null   object
 108  Produção de Uva(toneladas)                           5563 non-null   object
dtypes: float64(32), int64(3), object(74)
memory usage: 4.6+ MB

In [49]:
bd_2022

,Codigo_Municipio,Codigo_Municipio_2,Município,UF,Sigla_UF,2022_Estoque_media,2022_Estoque_MAX,2022_Estoque_MIN,Número de unidades locais,Pessoal ocupado Total,...,Produção de Sisal ou agave (fibra)(toneladas),Produção de Soja (em grão)(toneladas),Produção de Sorgo (em grão)(toneladas),Produção de Tangerina(toneladas),Produção de Tomate(toneladas),Produção de Trigo (em grão)(toneladas),Produção de Triticale (em grão)(toneladas),Produção de Tungue (fruto seco)(toneladas),Produção de Urucum (semente)(toneladas),Produção de Uva(toneladas)
0,1100015,110001,Alta Floresta D'Oeste,11,RO,"2,195.92","2,269.00","2,107.00",866.00,"3,706.00",...,-,4915,-,4,1750,-,-,-,-,-
1,1100379,110037,Alto Alegre dos Parecis,11,RO,629.00,686.00,575.00,261.00,"1,297.00",...,-,10771,-,4,350,-,-,-,1,-
2,1100403,110040,Alto Paraíso,11,RO,"1,266.17","1,288.00","1,240.00",475.00,"1,964.00",...,-,84751,-,-,30,-,-,-,6,-
3,1100346,110034,Alvorada D'Oeste,11,RO,901.67,922.00,882.00,438.00,"1,762.00",...,-,1336,-,-,165,-,-,-,1,-
4,1100023,110002,Ariquemes,11,RO,"18,565.75","19,031.00","17,539.00","4,730.00","24,810.00",...,-,31732,-,-,67,-,-,-,12,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,5222005,522200,Vianópolis,52,GO,"2,642.58","2,743.00","2,551.00",774.00,"3,442.00",...,-,144000,9620,-,67200,549,-,-,-,-
5566,5222054,522205,Vicentinópolis,52,GO,"2,431.33","2,671.00","1,991.00",342.00,"2,500.00",...,-,109180,16800,-,17710,-,-,-,-,-
5567,5222203,522220,Vila Boa,52,GO,"1,858.58","2,347.00","1,429.00",170.00,"1,120.00",...,-,1982,6445,-,-,-,-,-,-,-
5568,5222302,522230,Vila Propício,52,GO,"1,099.25","1,152.00","1,044.00",186.00,"1,533.00",...,-,54000,-,-,3500,-,-,-,-,-
5569,5300108,530010,Brasília,53,DF,"915,232.50","938,715.00","887,395.00","190,432.00","1,427,471.00",...,-,303120,24000,2312,28000,15660,-,-,-,1425