In [16]:
import pandas as pd

In [17]:
%run funcoes_gerais.ipynb

In [18]:
PAM_2018 = pd.read_excel("../dataset/Producao Alimentar/Tipos de Alimento/PAM_2018.xlsx")

In [19]:
cod_municipios = pd.read_csv('../Código dos Municípios')

In [20]:
pib_Munic = pd.read_excel("../dataset/Economico/Renda e Desenvolvimento/PIB/PIB-Munic.xlsx")
pib_Munic_BD = pd.read_excel("../dataset/Economico/Renda e Desenvolvimento/PIB/PIB dos Municбpios - base de dados 2010-2021.xlsx")

# Analise

### PIB Munic 2018

In [21]:
pib_Munic_BD_2018 = pib_Munic_BD[pib_Munic_BD['Ano'] == 2018][['Código do Município', 'Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)','Atividade com maior valor adicionado bruto']]

In [22]:
pib_Munic_BD_2018.head()

,Código do Município,"Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)",Atividade com maior valor adicionado bruto
44545,1100015,21538.40,"Administração, defesa, educação e saúde públic..."
44546,1100023,23215.13,Demais serviços
44547,1100031,25837.30,"Administração, defesa, educação e saúde públic..."
44548,1100049,25654.56,Demais serviços
44549,1100056,28621.22,"Administração, defesa, educação e saúde públic..."

In [23]:
pib_Munic_BD_2018.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5570 entries, 44545 to 50114
Data columns (total 3 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Código do Município                                              5570 non-null   int64
 1   Produto Interno Bruto per capita,
a preços correntes
(R$ 1,00)  5570 non-null   float64
 2   Atividade com maior valor adicionado bruto                       5570 non-null   object
dtypes: float64(1), int64(1), object(1)
memory usage: 174.1+ KB

# Transformação

### PIB Munic

In [24]:
for col in pib_Munic.columns[2:]:
    pib_Munic[col] = pib_Munic[col].apply(lambda x: f"{x:,.1f}".replace(",", "X").replace(".", ",").replace("X", "."))

In [25]:
pib_Munic = pib_Munic.rename(columns={'Cód.':'Codigo_Municipio','2018':'PIB do Municipio'})

In [15]:
pib_Munic.head()

,Codigo_Municipio,Município,2017,2017,2019,2020,2021
0,1100015,Alta Floresta D'Oeste (RO),"485.374,0","498.980,0","495.775,0","570.242,0","734.469,0"
1,1100023,Ariquemes (RO),"2.287.910,0","2.464.704,0","2.579.278,0","2.817.331,0","3.209.761,0"
2,1100031,Cabixi (RO),"138.110,0","140.503,0","139.976,0","167.153,0","238.412,0"
3,1100049,Cacoal (RO),"2.082.761,0","2.175.840,0","2.261.930,0","2.518.845,0","2.792.383,0"
4,1100056,Cerejeiras (RO),"439.245,0","470.647,0","506.494,0","600.630,0","743.037,0"

### PIB Munic BD

In [26]:
pib_Munic_BD_2018 = pib_Munic_BD_2018.rename(columns={'Código do Município': 'Codigo_Municipio', 
                        'Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)': 'Produto Interno Bruto per capita, a preços correntes(R$ 1,00)'})
pib_Munic_BD_2018['Produto Interno Bruto per capita, a preços correntes(R$ 1,00)'] = pib_Munic_BD_2018['Produto Interno Bruto per capita, a preços correntes(R$ 1,00)'].apply(lambda x: f"{x:,.1f}".replace(",", "X").replace(".", ",").replace("X", "."))

In [27]:
pib_Munic_BD_2018.head()

,Codigo_Municipio,"Produto Interno Bruto per capita, a preços correntes(R$ 1,00)",Atividade com maior valor adicionado bruto
44545,1100015,"21.538,4","Administração, defesa, educação e saúde públic..."
44546,1100023,"23.215,1",Demais serviços
44547,1100031,"25.837,3","Administração, defesa, educação e saúde públic..."
44548,1100049,"25.654,6",Demais serviços
44549,1100056,"28.621,2","Administração, defesa, educação e saúde públic..."

### PAM

In [28]:
PAM_2018 = PAM(PAM_2018)

# Integração

In [29]:
bd_2018 = cod_municipios[['Codigo_Municipio', 'Município', 'UF', 'Sigla_UF']]

In [30]:
bd_2018 = bd_2018.merge(pib_Munic[['Codigo_Municipio', 'PIB do Municipio']], how='right')

In [31]:
bd_2018 = bd_2018.merge(pib_Munic_BD_2018, how='right')

In [32]:
bd_2018 = bd_2018.merge(PAM_2018, how='right')

In [33]:
bd_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 78 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Codigo_Municipio                                               5570 non-null   int64
 1   Município                                                      5570 non-null   object
 2   UF                                                             5570 non-null   int64
 3   Sigla_UF                                                       5570 non-null   object
 4   PIB do Municipio                                               5570 non-null   object
 5   Produto Interno Bruto per capita, a preços correntes(R$ 1,00)  5570 non-null   object
 6   Atividade com maior valor adicionado bruto                     5570 non-null   object
 7   Produção de Abacate(toneladas)                                 5563 non-null   object
 8   Produção de Abacaxi*(toneladas)                                5563 non-null   object
 9   Produção de Açaí(toneladas)                                    5563 non-null   object
 10  Produção de Alfafa fenada(toneladas)                           5563 non-null   object
 11  Produção de Algodão arbóreo (em caroço)(toneladas)             5563 non-null   object
 12  Produção de Algodão herbáceo (em caroço)(toneladas)            5563 non-null   object
 13  Produção de Alho(toneladas)                                    5563 non-null   object
 14  Produção de Amendoim (em casca)(toneladas)                     5563 non-null   object
 15  Produção de Arroz (em casca)(toneladas)                        5563 non-null   object
 16  Produção de Aveia (em grão)(toneladas)                         5563 non-null   object
 17  Produção de Azeitona(toneladas)                                5563 non-null   object
 18  Produção de Banana (cacho)(toneladas)                          5563 non-null   object
 19  Produção de Batata-doce(toneladas)                             5563 non-null   object
 20  Produção de Batata-inglesa(toneladas)                          5563 non-null   object
 21  Produção de Borracha (látex coagulado)(toneladas)              5563 non-null   object
 22  Produção de Borracha (látex líquido)(toneladas)                5563 non-null   object
 23  Produção de Cacau (em amêndoa)(toneladas)                      5563 non-null   object
 24  Produção de Café (em grão) Total(toneladas)                    5563 non-null   object
 25  Produção de Café (em grão) Arábica(toneladas)                  5563 non-null   object
 26  Produção de Café (em grão) Canephora(toneladas)                5563 non-null   object
 27  Produção de Caju(toneladas)                                    5563 non-null   object
 28  Produção de Cana-de-açúcar(toneladas)                          5563 non-null   object
 29  Produção de Cana para forragem(toneladas)                      5563 non-null   object
 30  Produção de Caqui(toneladas)                                   5563 non-null   object
 31  Produção de Castanha de caju(toneladas)                        5563 non-null   object
 32  Produção de Cebola(toneladas)                                  5563 non-null   object
 33  Produção de Centeio (em grão)(toneladas)                       5563 non-null   object
 34  Produção de Cevada (em grão)(toneladas)                        5563 non-null   object
 35  Produção de Chá-da-índia (folha verde)(toneladas)              5563 non-null   object
 36  Produção de Coco-da-baía*(toneladas)                           5563 non-null   object
 37  Produção de Dendê (cacho de coco)(toneladas)                   5563 non-null   object
 38  Produção de Erva-mate (folha verde)(toneladas)                 5563 non-null   object
 39  Produção de Ervilha (em grão)(toneladas)                       5563 non-null   object
 40  Produção de Fava (em grão)(toneladas)                          5563 non-null   object
 41  Produção de Feijão (em grão)(toneladas)                        5563 non-null   object
 42  Produção de Figo(toneladas)                                    5563 non-null   object
 43  Produção de Fumo (em folha)(toneladas)                         5563 non-null   object
 44  Produção de Girassol (em grão)(toneladas)                      5563 non-null   object
 45  Produção de Goiaba(toneladas)                                  5563 non-null   object
 46  Produção de Guaraná (semente)(toneladas)                       5563 non-null   object
 47  Produção de Juta (fibra)(toneladas)                            5563 non-null   object
 48  Produção de Laranja(toneladas)                                 5563 non-null   object
 49  Produção de Limão(toneladas)                                   5563 non-null   object
 50  Produção de Linho (semente)(toneladas)                         5563 non-null   object
 51  Produção de Maçã(toneladas)                                    5563 non-null   object
 52  Produção de Malva (fibra)(toneladas)                           5563 non-null   object
 53  Produção de Mamão(toneladas)                                   5563 non-null   object
 54  Produção de Mamona (baga)(toneladas)                           5563 non-null   object
 55  Produção de Mandioca(toneladas)                                5563 non-null   object
 56  Produção de Manga(toneladas)                                   5563 non-null   object
 57  Produção de Maracujá(toneladas)                                5563 non-null   object
 58  Produção de Marmelo(toneladas)                                 5563 non-null   object
 59  Produção de Melancia(toneladas)                                5563 non-null   object
 60  Produção de Melão(toneladas)                                   5563 non-null   object
 61  Produção de Milho (em grão)(toneladas)                         5563 non-null   object
 62  Produção de Noz (fruto seco)(toneladas)                        5563 non-null   object
 63  Produção de Palmito(toneladas)                                 5563 non-null   object
 64  Produção de Pera(toneladas)                                    5563 non-null   object
 65  Produção de Pêssego(toneladas)                                 5563 non-null   object
 66  Produção de Pimenta-do-reino(toneladas)                        5563 non-null   object
 67  Produção de Rami (fibra)(toneladas)                            5563 non-null   object
 68  Produção de Sisal ou agave (fibra)(toneladas)                  5563 non-null   object
 69  Produção de Soja (em grão)(toneladas)                          5563 non-null   object
 70  Produção de Sorgo (em grão)(toneladas)                         5563 non-null   object
 71  Produção de Tangerina(toneladas)                               5563 non-null   object
 72  Produção de Tomate(toneladas)                                  5563 non-null   object
 73  Produção de Trigo (em grão)(toneladas)                         5563 non-null   object
 74  Produção de Triticale (em grão)(toneladas)                     5563 non-null   object
 75  Produção de Tungue (fruto seco)(toneladas)                     5563 non-null   object
 76  Produção de Urucum (semente)(toneladas)                        5563 non-null   object
 77  Produção de Uva(toneladas)                                     5563 non-null   object
dtypes: int64(2), object(76)
memory usage: 3.3+ MB

In [34]:
bd_2018.head()

,Codigo_Municipio,Município,UF,Sigla_UF,PIB do Municipio,"Produto Interno Bruto per capita, a preços correntes(R$ 1,00)",Atividade com maior valor adicionado bruto,Produção de Abacate(toneladas),Produção de Abacaxi*(toneladas),Produção de Açaí(toneladas),...,Produção de Sisal ou agave (fibra)(toneladas),Produção de Soja (em grão)(toneladas),Produção de Sorgo (em grão)(toneladas),Produção de Tangerina(toneladas),Produção de Tomate(toneladas),Produção de Trigo (em grão)(toneladas),Produção de Triticale (em grão)(toneladas),Produção de Tungue (fruto seco)(toneladas),Produção de Urucum (semente)(toneladas),Produção de Uva(toneladas)
0,1100015,Alta Floresta D'Oeste,11,RO,"498.980,0","21.538,4","Administração, defesa, educação e saúde públic...",-,80,-,...,-,1350,-,-,500,-,-,-,-,-
1,1100379,Alto Alegre dos Parecis,11,RO,"278.342,0","21.043,4","Administração, defesa, educação e saúde públic...",-,92,25,...,-,10135,-,8,400,-,-,-,5,-
2,1100403,Alto Paraíso,11,RO,"328.757,0","15.655,8","Administração, defesa, educação e saúde públic...",-,1350,-,...,-,29966,-,-,45,-,-,-,-,-
3,1100346,Alvorada D'Oeste,11,RO,"256.200,0","17.402,5","Administração, defesa, educação e saúde públic...",-,34,3,...,-,1221,-,-,175,-,-,-,5,-
4,1100023,Ariquemes,11,RO,"2.464.704,0","23.215,1",Demais serviços,-,700,62,...,-,16800,-,-,45,-,-,-,13,-