In [2]:
import pandas as pd

In [4]:
%run funcoes_gerais.ipynb

In [5]:
cod_municipios = pd.read_csv('../Código dos Municípios')

In [6]:
pib_Munic = pd.read_excel("../dataset/Economico/Renda e Desenvolvimento/PIB/PIB-Munic.xlsx")
pib_Munic_BD = pd.read_excel("../dataset/Economico/Renda e Desenvolvimento/PIB/PIB dos Municбpios - base de dados 2010-2021.xlsx")

In [7]:
PAM_2022 = pd.read_excel("../dataset/Producao Alimentar/Tipos de Alimento/PAM_2022.xlsx")

In [8]:
cempre_2022 = pd.read_excel("../dataset/Economico/Renda e Desenvolvimento/Renda Per Capta/Cempre_2022.xlsx")

# Analise

In [9]:
cempre_2022

,Unidades da Federação,Municípios,Número de unidades\nlocais,Pessoal ocupado Total,Pessoal ocupado Assalariado,Pessoal assalariado médio,Salários\ne outras\nremunerações\n(1 000 R$),Salário médio\n mensal \n(salários mínimos) (1) (2),Salário médio\n mensal \n(R$) (2),Número de empresas atuantes
0,Rondônia,Alta Floresta D'Oeste - RO,866,3706,2707,2664.23,8.912034e+04,2.123045,2573.130294,848
1,Rondônia,Ariquemes - RO,4730,24810,19196,18794.23,5.943546e+05,2.007128,2432.639248,4533
2,Rondônia,Cabixi - RO,201,805,625,595.58,1.790562e+04,1.908109,2312.628026,199
3,Rondônia,Cacoal - RO,4258,23243,18227,18120.38,5.449247e+05,1.908637,2313.267496,4045
4,Rondônia,Cerejeiras - RO,803,3556,2701,2647.39,8.497205e+04,2.037099,2468.964237,773
...,...,...,...,...,...,...,...,...,...,...
5565,Goiás,Vianópolis - GO,774,3442,2457,2441.01,8.411145e+04,2.186954,2650.587824,762
5566,Goiás,Vicentinópolis - GO,342,2500,2129,2402.59,7.924238e+04,2.093302,2537.081938,339
5567,Goiás,Vila Boa - GO,170,1120,927,1193.93,3.835152e+04,2.038721,2470.929812,167
5568,Goiás,Vila Propício - GO,186,1533,1358,1282.25,3.979811e+04,1.969898,2387.516775,176
5569,Distrito Federal,Brasília - DF,190432,1427471,1195111,1202029.55,9.222876e+07,4.869734,5902.11775,178067

In [10]:
cempre_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 10 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Unidades da Federação                                5570 non-null   object
 1   Municípios                                           5570 non-null   object
 2   Número de unidades
locais                            5570 non-null   int64
 3   Pessoal ocupado Total                                5570 non-null   int64
 4   Pessoal ocupado Assalariado                          5570 non-null   int64
 5   Pessoal assalariado médio                            5570 non-null   float64
 6   Salários
e outras
remunerações
(1 000 R$)            5570 non-null   float64
 7   Salário médio
 mensal
(salários mínimos)  (1) (2)   5570 non-null   float64
 8   Salário médio
 mensal
(R$) (2)                      5570 non-null   object
 9   Número de empresas atuantes                          5570 non-null   int64
dtypes: float64(3), int64(4), object(3)
memory usage: 435.3+ KB

# Transformação

### PAM

In [11]:
PAM_2022 = PAM(PAM_2022)

### CEMPRE

In [12]:
cempre_2022 = CEMPRE(cempre_2022)

In [13]:
cempre_2022

,Codigo_Municipio,Número de unidades\nlocais,Pessoal ocupado Total,Pessoal ocupado Assalariado,Pessoal assalariado médio,Salários\ne outras\nremunerações\n(1 000 R$),Salário médio\n mensal \n(salários mínimos) (1) (2),Salário médio mensal(R$),Número de empresas atuantes
0,1100015,866.0,3706.0,2707.0,2664.23,8.912034e+04,2.123045,2573.130294,848.0
1,1100379,261.0,1297.0,1020.0,961.96,3.014595e+04,1.988960,2410.619105,260.0
2,1100403,475.0,1964.0,1439.0,1438.61,5.060814e+04,2.232705,2706.038361,473.0
3,1100346,438.0,1762.0,1324.0,1301.09,3.535544e+04,1.724658,2090.285187,430.0
4,1100023,4730.0,24810.0,19196.0,18794.23,5.943546e+05,2.007128,2432.639248,4533.0
...,...,...,...,...,...,...,...,...,...
5565,5222005,774.0,3442.0,2457.0,2441.01,8.411145e+04,2.186954,2650.587824,762.0
5566,5222054,342.0,2500.0,2129.0,2402.59,7.924238e+04,2.093302,2537.081938,339.0
5567,5222203,170.0,1120.0,927.0,1193.93,3.835152e+04,2.038721,2470.929812,167.0
5568,5222302,186.0,1533.0,1358.0,1282.25,3.979811e+04,1.969898,2387.516775,176.0
5569,5300108,190432.0,1427471.0,1195111.0,1202029.55,9.222876e+07,4.869734,5902.11775,178067.0

# Integração

In [14]:
bd_2022 = cod_municipios[['Codigo_Municipio', 'Município', 'UF', 'Sigla_UF']]

In [15]:
bd_2022 = bd_2022.merge(cempre_2022[['Codigo_Municipio', 'Salário médio mensal(R$)']], how='right')

In [16]:
bd_2022 = bd_2022.merge(PAM_2022, how='right')

In [17]:
bd_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 76 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Codigo_Municipio                                     5570 non-null   int64
 1   Município                                            5570 non-null   object
 2   UF                                                   5570 non-null   int64
 3   Sigla_UF                                             5570 non-null   object
 4   Salário médio mensal(R$)                             5536 non-null   object
 5   Produção de Abacate(toneladas)                       5563 non-null   object
 6   Produção de Abacaxi*(toneladas)                      5563 non-null   object
 7   Produção de Açaí(toneladas)                          5563 non-null   object
 8   Produção de Alfafa fenada(toneladas)                 5563 non-null   object
 9   Produção de Algodão arbóreo (em caroço)(toneladas)   5563 non-null   object
 10  Produção de Algodão herbáceo (em caroço)(toneladas)  5563 non-null   object
 11  Produção de Alho(toneladas)                          5563 non-null   object
 12  Produção de Amendoim (em casca)(toneladas)           5563 non-null   object
 13  Produção de Arroz (em casca)(toneladas)              5563 non-null   object
 14  Produção de Aveia (em grão)(toneladas)               5563 non-null   object
 15  Produção de Azeitona(toneladas)                      5563 non-null   object
 16  Produção de Banana (cacho)(toneladas)                5563 non-null   object
 17  Produção de Batata-doce(toneladas)                   5563 non-null   object
 18  Produção de Batata-inglesa(toneladas)                5563 non-null   object
 19  Produção de Borracha (látex coagulado)(toneladas)    5563 non-null   object
 20  Produção de Borracha (látex líquido)(toneladas)      5563 non-null   object
 21  Produção de Cacau (em amêndoa)(toneladas)            5563 non-null   object
 22  Produção de Café (em grão) Total(toneladas)          5563 non-null   object
 23  Produção de Café (em grão) Arábica(toneladas)        5563 non-null   object
 24  Produção de Café (em grão) Canephora(toneladas)      5563 non-null   object
 25  Produção de Caju(toneladas)                          5563 non-null   object
 26  Produção de Cana-de-açúcar(toneladas)                5563 non-null   object
 27  Produção de Cana para forragem(toneladas)            5563 non-null   object
 28  Produção de Caqui(toneladas)                         5563 non-null   object
 29  Produção de Castanha de caju(toneladas)              5563 non-null   object
 30  Produção de Cebola(toneladas)                        5563 non-null   object
 31  Produção de Centeio (em grão)(toneladas)             5563 non-null   object
 32  Produção de Cevada (em grão)(toneladas)              5563 non-null   object
 33  Produção de Chá-da-índia (folha verde)(toneladas)    5563 non-null   object
 34  Produção de Coco-da-baía*(toneladas)                 5563 non-null   object
 35  Produção de Dendê (cacho de coco)(toneladas)         5563 non-null   object
 36  Produção de Erva-mate (folha verde)(toneladas)       5563 non-null   object
 37  Produção de Ervilha (em grão)(toneladas)             5563 non-null   object
 38  Produção de Fava (em grão)(toneladas)                5563 non-null   object
 39  Produção de Feijão (em grão)(toneladas)              5563 non-null   object
 40  Produção de Figo(toneladas)                          5563 non-null   object
 41  Produção de Fumo (em folha)(toneladas)               5563 non-null   object
 42  Produção de Girassol (em grão)(toneladas)            5563 non-null   object
 43  Produção de Goiaba(toneladas)                        5563 non-null   object
 44  Produção de Guaraná (semente)(toneladas)             5563 non-null   object
 45  Produção de Juta (fibra)(toneladas)                  5563 non-null   object
 46  Produção de Laranja(toneladas)                       5563 non-null   object
 47  Produção de Limão(toneladas)                         5563 non-null   object
 48  Produção de Linho (semente)(toneladas)               5563 non-null   object
 49  Produção de Maçã(toneladas)                          5563 non-null   object
 50  Produção de Malva (fibra)(toneladas)                 5563 non-null   object
 51  Produção de Mamão(toneladas)                         5563 non-null   object
 52  Produção de Mamona (baga)(toneladas)                 5563 non-null   object
 53  Produção de Mandioca(toneladas)                      5563 non-null   object
 54  Produção de Manga(toneladas)                         5563 non-null   object
 55  Produção de Maracujá(toneladas)                      5563 non-null   object
 56  Produção de Marmelo(toneladas)                       5563 non-null   object
 57  Produção de Melancia(toneladas)                      5563 non-null   object
 58  Produção de Melão(toneladas)                         5563 non-null   object
 59  Produção de Milho (em grão)(toneladas)               5563 non-null   object
 60  Produção de Noz (fruto seco)(toneladas)              5563 non-null   object
 61  Produção de Palmito(toneladas)                       5563 non-null   object
 62  Produção de Pera(toneladas)                          5563 non-null   object
 63  Produção de Pêssego(toneladas)                       5563 non-null   object
 64  Produção de Pimenta-do-reino(toneladas)              5563 non-null   object
 65  Produção de Rami (fibra)(toneladas)                  5563 non-null   object
 66  Produção de Sisal ou agave (fibra)(toneladas)        5563 non-null   object
 67  Produção de Soja (em grão)(toneladas)                5563 non-null   object
 68  Produção de Sorgo (em grão)(toneladas)               5563 non-null   object
 69  Produção de Tangerina(toneladas)                     5563 non-null   object
 70  Produção de Tomate(toneladas)                        5563 non-null   object
 71  Produção de Trigo (em grão)(toneladas)               5563 non-null   object
 72  Produção de Triticale (em grão)(toneladas)           5563 non-null   object
 73  Produção de Tungue (fruto seco)(toneladas)           5563 non-null   object
 74  Produção de Urucum (semente)(toneladas)              5563 non-null   object
 75  Produção de Uva(toneladas)                           5563 non-null   object
dtypes: int64(2), object(74)
memory usage: 3.2+ MB

In [18]:
bd_2022

,Codigo_Municipio,Município,UF,Sigla_UF,Salário médio mensal(R$),Produção de Abacate(toneladas),Produção de Abacaxi*(toneladas),Produção de Açaí(toneladas),Produção de Alfafa fenada(toneladas),Produção de Algodão arbóreo (em caroço)(toneladas),...,Produção de Sisal ou agave (fibra)(toneladas),Produção de Soja (em grão)(toneladas),Produção de Sorgo (em grão)(toneladas),Produção de Tangerina(toneladas),Produção de Tomate(toneladas),Produção de Trigo (em grão)(toneladas),Produção de Triticale (em grão)(toneladas),Produção de Tungue (fruto seco)(toneladas),Produção de Urucum (semente)(toneladas),Produção de Uva(toneladas)
0,1100015,Alta Floresta D'Oeste,11,RO,2573.130294,-,100,20,...,-,...,-,4915,-,4,1750,-,-,-,-,-
1,1100379,Alto Alegre dos Parecis,11,RO,2410.619105,-,50,5,...,-,...,-,10771,-,4,350,-,-,-,1,-
2,1100403,Alto Paraíso,11,RO,2706.038361,-,600,80,...,-,...,-,84751,-,-,30,-,-,-,6,-
3,1100346,Alvorada D'Oeste,11,RO,2090.285187,-,78,4,...,-,...,-,1336,-,-,165,-,-,-,1,-
4,1100023,Ariquemes,11,RO,2432.639248,-,416,50,...,-,...,-,31732,-,-,67,-,-,-,12,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,5222005,Vianópolis,52,GO,2650.587824,-,-,-,...,-,...,-,144000,9620,-,67200,549,-,-,-,-
5566,5222054,Vicentinópolis,52,GO,2537.081938,-,-,-,...,-,...,-,109180,16800,-,17710,-,-,-,-,-
5567,5222203,Vila Boa,52,GO,2470.929812,-,-,-,...,-,...,-,1982,6445,-,-,-,-,-,-,-
5568,5222302,Vila Propício,52,GO,2387.516775,-,-,-,...,-,...,-,54000,-,-,3500,-,-,-,-,-
5569,5300108,Brasília,53,DF,5902.11775,2850,198,-,...,-,...,-,303120,24000,2312,28000,15660,-,-,-,1425