In [ ]:
import pandas as pd

In [1]:
%run funcoes_gerais.ipynb

In [2]:
cod_municipios = pd.read_csv('../Código dos Municípios')

In [3]:
pib_Munic = pd.read_excel("../dataset/Economico/Renda e Desenvolvimento/PIB/PIB-Munic.xlsx")
pib_Munic_BD = pd.read_excel("../dataset/Economico/Renda e Desenvolvimento/PIB/PIB dos Municбpios - base de dados 2010-2021.xlsx")

In [4]:
PAM_2021 = pd.read_excel("../dataset/Producao Alimentar/Tipos de Alimento/PAM_2021.xlsx")

In [5]:
cempre_2021 = pd.read_excel("../dataset/Economico/Renda e Desenvolvimento/Renda Per Capta/Cempre_2021.xlsx")

# Analise

### PIB Munic BD

In [6]:
pib_Munic_BD_2021 = pib_Munic_BD[pib_Munic_BD['Ano'] == 2021][['Código do Município', 'Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)','Atividade com maior valor adicionado bruto']]

In [7]:
pib_Munic_BD_2021

,Código do Município,"Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)",Atividade com maior valor adicionado bruto
61255,1100015,32619.88,"Administração, defesa, educação e saúde públic..."
61256,1100023,28878.27,Demais serviços
61257,1100031,47051.83,"Agricultura, inclusive apoio à agricultura e a..."
61258,1100049,32313.26,Demais serviços
61259,1100056,46185.81,Comércio e reparação de veículos automotores e...
...,...,...,...
66820,5222005,60900.61,"Agricultura, inclusive apoio à agricultura e a..."
66821,5222054,53340.72,"Agricultura, inclusive apoio à agricultura e a..."
66822,5222203,27886.97,"Agricultura, inclusive apoio à agricultura e a..."
66823,5222302,51845.31,"Agricultura, inclusive apoio à agricultura e a..."
66824,5300108,92732.27,"Administração, defesa, educação e saúde públic..."

# Transformação

### PAM

In [8]:
PAM_2021 = PAM(PAM_2021)

### PIB Munic

In [9]:
for col in pib_Munic.columns[2:]:
    pib_Munic[col] = pib_Munic[col].apply(lambda x: f"{x:,.1f}".replace(",", "X").replace(".", ",").replace("X", "."))

In [10]:
pib_Munic = pib_Munic.rename(columns={'Cód.':'Codigo_Municipio','2021':'PIB do Municipio'})

In [11]:
pib_Munic.head()

,Codigo_Municipio,Município,2017,2018,2019,2020,PIB do Municipio
0,1100015,Alta Floresta D'Oeste (RO),"485.374,0","498.980,0","495.775,0","570.242,0","734.469,0"
1,1100023,Ariquemes (RO),"2.287.910,0","2.464.704,0","2.579.278,0","2.817.331,0","3.209.761,0"
2,1100031,Cabixi (RO),"138.110,0","140.503,0","139.976,0","167.153,0","238.412,0"
3,1100049,Cacoal (RO),"2.082.761,0","2.175.840,0","2.261.930,0","2.518.845,0","2.792.383,0"
4,1100056,Cerejeiras (RO),"439.245,0","470.647,0","506.494,0","600.630,0","743.037,0"

### PIB MUnic BD

In [12]:
pib_Munic_BD_2021 = pib_Munic_BD_2021.rename(columns={'Código do Município': 'Codigo_Municipio', 
                        'Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)': 'Produto Interno Bruto per capita, a preços correntes(R$ 1,00)'})
pib_Munic_BD_2021['Produto Interno Bruto per capita, a preços correntes(R$ 1,00)'] = pib_Munic_BD_2021['Produto Interno Bruto per capita, a preços correntes(R$ 1,00)'].apply(lambda x: f"{x:,.1f}".replace(",", "X").replace(".", ",").replace("X", "."))

In [13]:
pib_Munic_BD_2021

,Codigo_Municipio,"Produto Interno Bruto per capita, a preços correntes(R$ 1,00)",Atividade com maior valor adicionado bruto
61255,1100015,"32.619,9","Administração, defesa, educação e saúde públic..."
61256,1100023,"28.878,3",Demais serviços
61257,1100031,"47.051,8","Agricultura, inclusive apoio à agricultura e a..."
61258,1100049,"32.313,3",Demais serviços
61259,1100056,"46.185,8",Comércio e reparação de veículos automotores e...
...,...,...,...
66820,5222005,"60.900,6","Agricultura, inclusive apoio à agricultura e a..."
66821,5222054,"53.340,7","Agricultura, inclusive apoio à agricultura e a..."
66822,5222203,"27.887,0","Agricultura, inclusive apoio à agricultura e a..."
66823,5222302,"51.845,3","Agricultura, inclusive apoio à agricultura e a..."
66824,5300108,"92.732,3","Administração, defesa, educação e saúde públic..."

### CEMPRE

In [14]:
cempre_2021 = CEMPRE(cempre_2021)

In [15]:
cempre_2021

,Codigo_Municipio,Número de unidades\nlocais,Pessoal ocupado Total,Pessoal ocupado Assalariado,Pessoal assalariado médio,Salários\ne outras\nremunerações\n(1 000 R$),Salário médio\n mensal \n(salários mínimos) (1) (2),Salário médio mensal(R$),Número de empresas atuantes
0,1100015,521.0,2913.0,2356.0,2603.01,6.862862e+04,1.843713,"2.028,1",514.0
1,1100379,170.0,1158.0,955.0,940.96,2.783793e+04,2.068854,"2.275,7",170.0
2,1100403,266.0,1601.0,1302.0,1265.78,3.709155e+04,2.049183,"2.254,1",265.0
3,1100346,268.0,1620.0,1308.0,1279.66,3.018624e+04,1.649599,"1.814,6",262.0
4,1100023,2879.0,20851.0,17176.0,16650.72,4.887643e+05,2.052723,"2.258,0",2778.0
...,...,...,...,...,...,...,...,...,...
5565,5222005,466.0,2846.0,2333.0,2156.03,6.658155e+04,2.159549,"2.375,5",462.0
5566,5222054,208.0,1989.0,1748.0,2173.06,6.409741e+04,2.062684,"2.269,0",208.0
5567,5222203,60.0,848.0,800.0,1127.87,3.421396e+04,2.121330,"2.333,5",60.0
5568,5222302,107.0,1256.0,1132.0,1024.62,2.718785e+04,1.855564,"2.041,1",101.0
5569,5300108,111980.0,1399758.0,1268259.0,1266004.23,9.289484e+07,5.131217,"5.644,3",105511.0

# Integração

In [17]:
bd_2021 = cod_municipios[['Codigo_Municipio', 'Município', 'UF', 'Sigla_UF']]

In [18]:
bd_2021 = bd_2021.merge(pib_Munic[['Codigo_Municipio', 'PIB do Municipio']], how='right')

In [19]:
bd_2021 = bd_2021.merge(pib_Munic_BD_2021, how='right')

In [21]:
bd_2021 = bd_2021.merge(cempre_2021[['Codigo_Municipio', 'Salário médio mensal(R$)']], how='right')

In [22]:
bd_2021 = bd_2021.merge(PAM_2021, how='right')

In [23]:
bd_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 79 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Codigo_Municipio                                               5570 non-null   int64
 1   Município                                                      5570 non-null   object
 2   UF                                                             5570 non-null   int64
 3   Sigla_UF                                                       5570 non-null   object
 4   PIB do Municipio                                               5570 non-null   object
 5   Produto Interno Bruto per capita, a preços correntes(R$ 1,00)  5570 non-null   object
 6   Atividade com maior valor adicionado bruto                     5570 non-null   object
 7   Salário médio mensal(R$)                                       5570 non-null   object
 8   Produção de Abacate(toneladas)                                 5563 non-null   object
 9   Produção de Abacaxi*(toneladas)                                5563 non-null   object
 10  Produção de Açaí(toneladas)                                    5563 non-null   object
 11  Produção de Alfafa fenada(toneladas)                           5563 non-null   object
 12  Produção de Algodão arbóreo (em caroço)(toneladas)             5563 non-null   object
 13  Produção de Algodão herbáceo (em caroço)(toneladas)            5563 non-null   object
 14  Produção de Alho(toneladas)                                    5563 non-null   object
 15  Produção de Amendoim (em casca)(toneladas)                     5563 non-null   object
 16  Produção de Arroz (em casca)(toneladas)                        5563 non-null   object
 17  Produção de Aveia (em grão)(toneladas)                         5563 non-null   object
 18  Produção de Azeitona(toneladas)                                5563 non-null   object
 19  Produção de Banana (cacho)(toneladas)                          5563 non-null   object
 20  Produção de Batata-doce(toneladas)                             5563 non-null   object
 21  Produção de Batata-inglesa(toneladas)                          5563 non-null   object
 22  Produção de Borracha (látex coagulado)(toneladas)              5563 non-null   object
 23  Produção de Borracha (látex líquido)(toneladas)                5563 non-null   object
 24  Produção de Cacau (em amêndoa)(toneladas)                      5563 non-null   object
 25  Produção de Café (em grão) Total(toneladas)                    5563 non-null   object
 26  Produção de Café (em grão) Arábica(toneladas)                  5563 non-null   object
 27  Produção de Café (em grão) Canephora(toneladas)                5563 non-null   object
 28  Produção de Caju(toneladas)                                    5563 non-null   object
 29  Produção de Cana-de-açúcar(toneladas)                          5563 non-null   object
 30  Produção de Cana para forragem(toneladas)                      5563 non-null   object
 31  Produção de Caqui(toneladas)                                   5563 non-null   object
 32  Produção de Castanha de caju(toneladas)                        5563 non-null   object
 33  Produção de Cebola(toneladas)                                  5563 non-null   object
 34  Produção de Centeio (em grão)(toneladas)                       5563 non-null   object
 35  Produção de Cevada (em grão)(toneladas)                        5563 non-null   object
 36  Produção de Chá-da-índia (folha verde)(toneladas)              5563 non-null   object
 37  Produção de Coco-da-baía*(toneladas)                           5563 non-null   object
 38  Produção de Dendê (cacho de coco)(toneladas)                   5563 non-null   object
 39  Produção de Erva-mate (folha verde)(toneladas)                 5563 non-null   object
 40  Produção de Ervilha (em grão)(toneladas)                       5563 non-null   object
 41  Produção de Fava (em grão)(toneladas)                          5563 non-null   object
 42  Produção de Feijão (em grão)(toneladas)                        5563 non-null   object
 43  Produção de Figo(toneladas)                                    5563 non-null   object
 44  Produção de Fumo (em folha)(toneladas)                         5563 non-null   object
 45  Produção de Girassol (em grão)(toneladas)                      5563 non-null   object
 46  Produção de Goiaba(toneladas)                                  5563 non-null   object
 47  Produção de Guaraná (semente)(toneladas)                       5563 non-null   object
 48  Produção de Juta (fibra)(toneladas)                            5563 non-null   object
 49  Produção de Laranja(toneladas)                                 5563 non-null   object
 50  Produção de Limão(toneladas)                                   5563 non-null   object
 51  Produção de Linho (semente)(toneladas)                         5563 non-null   object
 52  Produção de Maçã(toneladas)                                    5563 non-null   object
 53  Produção de Malva (fibra)(toneladas)                           5563 non-null   object
 54  Produção de Mamão(toneladas)                                   5563 non-null   object
 55  Produção de Mamona (baga)(toneladas)                           5563 non-null   object
 56  Produção de Mandioca(toneladas)                                5563 non-null   object
 57  Produção de Manga(toneladas)                                   5563 non-null   object
 58  Produção de Maracujá(toneladas)                                5563 non-null   object
 59  Produção de Marmelo(toneladas)                                 5563 non-null   object
 60  Produção de Melancia(toneladas)                                5563 non-null   object
 61  Produção de Melão(toneladas)                                   5563 non-null   object
 62  Produção de Milho (em grão)(toneladas)                         5563 non-null   object
 63  Produção de Noz (fruto seco)(toneladas)                        5563 non-null   object
 64  Produção de Palmito(toneladas)                                 5563 non-null   object
 65  Produção de Pera(toneladas)                                    5563 non-null   object
 66  Produção de Pêssego(toneladas)                                 5563 non-null   object
 67  Produção de Pimenta-do-reino(toneladas)                        5563 non-null   object
 68  Produção de Rami (fibra)(toneladas)                            5563 non-null   object
 69  Produção de Sisal ou agave (fibra)(toneladas)                  5563 non-null   object
 70  Produção de Soja (em grão)(toneladas)                          5563 non-null   object
 71  Produção de Sorgo (em grão)(toneladas)                         5563 non-null   object
 72  Produção de Tangerina(toneladas)                               5563 non-null   object
 73  Produção de Tomate(toneladas)                                  5563 non-null   object
 74  Produção de Trigo (em grão)(toneladas)                         5563 non-null   object
 75  Produção de Triticale (em grão)(toneladas)                     5563 non-null   object
 76  Produção de Tungue (fruto seco)(toneladas)                     5563 non-null   object
 77  Produção de Urucum (semente)(toneladas)                        5563 non-null   object
 78  Produção de Uva(toneladas)                                     5563 non-null   object
dtypes: int64(2), object(77)
memory usage: 3.4+ MB

In [24]:
bd_2021

,Codigo_Municipio,Município,UF,Sigla_UF,PIB do Municipio,"Produto Interno Bruto per capita, a preços correntes(R$ 1,00)",Atividade com maior valor adicionado bruto,Salário médio mensal(R$),Produção de Abacate(toneladas),Produção de Abacaxi*(toneladas),...,Produção de Sisal ou agave (fibra)(toneladas),Produção de Soja (em grão)(toneladas),Produção de Sorgo (em grão)(toneladas),Produção de Tangerina(toneladas),Produção de Tomate(toneladas),Produção de Trigo (em grão)(toneladas),Produção de Triticale (em grão)(toneladas),Produção de Tungue (fruto seco)(toneladas),Produção de Urucum (semente)(toneladas),Produção de Uva(toneladas)
0,1100015,Alta Floresta D'Oeste,11,RO,"734.469,0","32.619,9","Administração, defesa, educação e saúde públic...","2.028,1",-,200,...,-,2500,-,4,412,-,-,-,36,-
1,1100379,Alto Alegre dos Parecis,11,RO,"483.672,0","36.454,0","Agricultura, inclusive apoio à agricultura e a...","2.275,7",-,66,...,-,1800,-,2,62,-,-,-,2,-
2,1100403,Alto Paraíso,11,RO,"510.361,0","22.929,3","Administração, defesa, educação e saúde públic...","2.254,1",-,300,...,-,71940,-,-,60,-,-,-,5,-
3,1100346,Alvorada D'Oeste,11,RO,"352.628,0","25.539,8","Pecuária, inclusive apoio à pecuária","1.814,6",-,45,...,-,1980,-,-,210,-,-,-,5,-
4,1100023,Ariquemes,11,RO,"3.209.761,0","28.878,3",Demais serviços,"2.258,0",-,416,...,-,22731,-,-,31,-,-,-,10,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,5222005,Vianópolis,52,GO,"857.968,0","60.900,6","Agricultura, inclusive apoio à agricultura e a...","2.375,5",-,-,...,-,160000,15000,-,70000,550,-,-,-,-
5566,5222054,Vicentinópolis,52,GO,"480.173,0","53.340,7","Agricultura, inclusive apoio à agricultura e a...","2.269,0",-,-,...,-,88200,16240,-,16100,-,-,-,-,-
5567,5222203,Vila Boa,52,GO,"179.899,0","27.887,0","Agricultura, inclusive apoio à agricultura e a...","2.333,5",-,-,...,-,5300,710,-,-,-,-,-,-,-
5568,5222302,Vila Propício,52,GO,"308.013,0","51.845,3","Agricultura, inclusive apoio à agricultura e a...","2.041,1",-,-,...,-,66555,-,-,1900,-,-,-,-,-
5569,5300108,Brasília,53,DF,"286.943.782,0","92.732,3","Administração, defesa, educação e saúde públic...","5.644,3",2850,198,...,-,312000,35100,2312,28000,10500,-,-,-,1425